{% load static %}
<html>
	<head>
		<title>HanZiHSK3</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="{% static 'main/css/mainHanzi.css' %}">
		<meta name="keywords" content="китайские иероглифы,hsk 3,китайский язык">
	</head>
	<body>
		<header>
			<div class="GoBack">
				<a href="{% url 'home' %}"><p>на главную</p></a>
			</div>
		</header>
		<main>
			<table align="center">
				<tbody class="HanZiDict">
					<tr> <!--万 且 -->
						<td class="HanZi">万</td>
						<td>
							<p>wàn</p>
							<p>1) десять тысяч 2) неисчислимый</p>
						</td>
						<td class="HanZi">且
						</td>
						<td>
							<p>qiě</p>
							<p>пока, покамест</p>
						</td>
					</tr>
					<tr> <!--世 业 -->
						<td class="HanZi">世</td>
						<td>
							<p>shì</p>
							<p>1) жизнь 2) поколение 3) эра 4) мир</p>
						</td>
						<td class="HanZi">业</td>
						<td>
							<p>yè</p>
							<p>1) промысел; хозяйство 2) занятие; профессия 3) дело</p>
						</td>
					</tr>
					<tr> <!--主 久 -->
						<td class="HanZi">主</td>
						<td>
							<p>zhǔ</p>
							<p>1) хозяин 2) владелец, собственник 3) главный, основной</p>
						</td>
						<td class="HanZi">久</td>
						<td>
							<p>jiǔ</p>
							<p>в течении долгого времени</p>
						</td>
					</tr>
					<tr> <!--乎 于 -->
						<td class="HanZi">乎</td>
						<td>
							<p>hū</p>
							<p>вопросительная или восклицательная частица</p>
						</td>
						<td class="HanZi">于</td>
						<td>
							<p>yú</p>
							<p>1) в 2) для 3) к 4) от; из</p>
						</td>
					</tr>
					<tr> <!--伞 位 -->
						<td class="HanZi">伞</td>
						<td>
							<p>sǎn</p>
							<p>зонтик</p>
						</td>
							<td class="HanZi">位
						</td>
						<td>
							<p>wéi</p>
							<p>1) место; положение 2) позиция</p>
						</td>
					</tr>
					<tr> <!--信 借 -->
						<td class="HanZi">信</td>
						<td>
							<p>xìn</p>
							<p>1) верить, доверять 2) письмо</p>
						</td>
						<td class="HanZi">借</td>
						<td>
							<p>jiè</p>
							<p>1) брать взаимы 2) дать в долг</p>
						</td>
					</tr>
					<tr> <!--假 健 -->
						<td class="HanZi">假</td>
						<td>
							<p>jià</p>
							<p>1) отпуск 2) отсутствие; находиться в отлучке</p>
						</td>
						<td class="HanZi">健</td>
						<td>
							<p>jiàn</p>
							<p>здоровый, сильный</p>
						</td>
					</tr>
					<tr> <!--像 元 -->
						<td class="HanZi">像</td>
						<td>
							<p>xiàng</p>
							<p>1) портрет; изваяние 2) изображение</p>
						</td>
						<td class="HanZi">元</td>
						<td>
							<p>yuán</p>
							<p>1) первый 2) главный 3) юань (деньги)</p>
						</td>
					</tr>
					<tr> <!--其 典 -->
						<td class="HanZi">其</td>
						<td>
							<p>qí</p>
							<p>его, ее, их</p>
						</td>
						<td class="HanZi">典</td>
						<td>
							<p>diǎn</p>
							<p>стандарт, закон, канон</p>
						</td>
					</tr>
					<tr> <!--冒 冬 -->
						<td class="HanZi">冒</td>
						<td>
							<p>mào</p>
							<p>1) рискованный, храбрый 2) смело; нагло</p>
						</td>
						<td class="HanZi">冬</td>
						<td>
							<p>dōng</p>
							<p>зима</p>
						</td>
					</tr>
					<tr> <!--冰 决 -->
						<td class="HanZi">冰</td>
						<td>
							<p>bīng</p>
							<p>лед</p>
						</td>
						<td class="HanZi">决</td>
						<td>
							<p>jué</p>
							<p>1) принимать решение 2) несомненно, конечно</p>
						</td>
					</tr>
					<tr> <!--净 刚 -->
						<td class="HanZi">净</td>
						<td>
							<p>jìng</p>
							<p>чистый</p>
						</td>
						<td class="HanZi">刚</td>
						<td>
							<p>gāng</p>
							<p>1) крепкий, сильный 2) как раз 3) только что 4) недавно</p>
						</td>
					</tr>
					<tr> <!--刮 刷 -->
						<td class="HanZi">刮</td>
						<td>
							<p>guā</p>
							<p>1) скоблить 2) обдирать</p>
						</td>
						<td class="HanZi">刷</td>
						<td>
							<p>shuā</p>
							<p>1) чистить щеткой 2) скрести 3) красить</p>
						</td>
					</tr>
					<tr> <!--刻 力 -->
						<td class="HanZi">刻</td>
						<td>
							<p>kè</p>
							<p>1) резать, гравировать 2) четверть часа</p>
						</td>
						<td class="HanZi">力</td>
						<td>
							<p>lì</p>
							<p>сила, усилие</p>
						</td>
					</tr>
					<tr> <!--办 加 -->
						<td class="HanZi">办</td>
						<td>
							<p>bàn</p>
							<p>делать; поступать; браться за дело</p>
						</td>
						<td class="HanZi">加</td>
						<td>
							<p>jiā</p>
							<p>1) прибавить 2) увеличить 3) добавить во что-л.</p>
						</td>
					</tr>
					<tr> <!--包 化 -->
						<td class="HanZi">包</td>
						<td>
							<p>bāo</p>
							<p>обертывать</p>
						</td>
						<td class="HanZi">化</td>
						<td>
							<p>huà</p>
							<p>1) превратить, трансформировать 2) обратить 3) превращаться, конвертировать 4) химия</p>
						</td>
					</tr>
					<tr> <!--半 单 -->
						<td class="HanZi">半</td>
						<td>
							<p>bàn</p>
							<p>половина</p>
						</td>
						<td class="HanZi">单</td>
						<td>
							<p>dān</p>
							<p>1) один, одинарный 2) отдельно; только</p>
						</td>
					</tr>
					<tr> <!--南 卡 -->
						<td class="HanZi">南</td>
						<td>
							<p>nán</p>
							<p>юг</p>
						</td>
						<td class="HanZi">卡</td>
						<td>
							<p>kǎ</p>
							<p>карточка</p>
						</td>
					</tr>
					<tr> <!--历 参 -->
						<td class="HanZi">历</td>
						<td>
							<p>lì</p>
							<p>история; календарь</p>
						</td>
						<td class="HanZi">参</td>
						<td>
							<p>cān</p>
							<p>1) соединять 2) принимать участие 3) объяснять; консультировать 4) идти на поклонение 5) посещать</p>
						</td>
					</tr>
					<tr> <!--又 双 -->
						<td class="HanZi">又</td>
						<td>
							<p>yòu</p>
							<p>1) опять; еще 2) но; однако 3) и</p>
						</td>
						<td class="HanZi">双</td>
						<td>
							<p>shuāng</p>
							<p>1) два, оба 2) пара, парный</p>
						</td>
					</tr>
					<tr> <!--发 变 -->
						<td class="HanZi">发</td>
						<td>
							<p>fā</p>
							<p>1) посылать 2) раздавать 3) выражать 4) стрелять 5) развивать, расширять</p>
						</td>
						<td class="HanZi">变</td>
						<td>
							<p>biàn</p>
							<p>изменяться, превращаться, трансформироваться</p>
						</td>
					</tr>
					<tr> <!--口 句 -->
						<td class="HanZi">口</td>
						<td>
							<p>kǒu</p>
							<p>1) рот 2) отверстие; вход</p>
						</td>
						<td class="HanZi">句</td>
						<td>
							<p>jù</p>
							<p>предложение, фраза</p>
						</td>
					</tr>
					<tr> <!--只 史 -->
						<td class="HanZi">只</td>
						<td>
							<p>zhǐ</p>
							<p>только, лишь, исключительно</p>
						</td>
						<td class="HanZi">史</td>
						<td>
							<p>shǐ</p>
							<p>история, хроника</p>
						</td>
					</tr>
					<tr> <!--向 周 -->
						<td class="HanZi">向</td>
						<td>
							<p>xiàng</p>
							<p>1) направление 2) повернутся лицом к 3) к; от</p>
						</td>
						<td class="HanZi">周</td>
						<td>
							<p>zhōu</p>
							<p>круг</p>
						</td>	
					</tr>
					<tr> <!--响 哭 -->
						<td class="HanZi">响</td>
						<td>
							<p>xiǎng</p>
							<p>1) звук; шум 2) шуметь; звонить</p>
						</td>
						<td class="HanZi">哭</td>
						<td>
							<p>kū</p>
							<p>плакать, рыдать</p>
						</td>
					</tr>
					<tr> <!--啊 啤 -->
						<td class="HanZi">啊</td>
						<td>
							<p>a</p>
							<p>междометие о!, ого!</p>
						</td>
						<td class="HanZi">啤</td>
						<td>
							<p>pí</p>
							<p>пиво</p>
						</td>
					</tr>
						<tr> <!--嘴 园 -->
						<td class="HanZi">嘴</td>
						<td>
							<p>zuǐ</p>
							<p>рот</p>
						</td>
						<td class="HanZi">园</td>
						<td>
							<p>yuán</p>
							<p>1) сад 2) парк</p>
						</td>
					</tr>
					<tr> <!--图 地 -->
						<td class="HanZi">图</td>
						<td>
							<p>tú</p>
							<p>картина, рисунок, план, карта</p>
						</td>
						<td class="HanZi">地</td>
						<td>
							<p>de</p>
							<p>атрибутивная частица</p>
						</td>
					</tr>
					<tr> <!--坏 城 -->
						<td class="HanZi">坏</td>
						<td>
							<p>huài</p>
							<p>1) плохой 2) испорченный</p>
						</td>
						<td class="HanZi">城</td>
						<td>
							<p>chéng</p>
							<p>1) замок 2) город</p>
						</td>
					</tr>
					<tr> <!--境 声 -->
						<td class="HanZi">境</td>
						<td>
							<p>jìng</p>
							<p>1) граница, рубеж 2) место, район 3) ситуация</p>
						</td>
						<td class="HanZi">声</td>
						<td>
							<p>shēng</p>
							<p>1) звук; голос 2) шум</p>
						</td>
					</tr>
					<tr> <!--复 夏 -->
						<td class="HanZi">复</td>
						<td>
							<p>fù</p>
							<p>1) повторять; повторяться 2) возвращать</p>
						</td>
						<td class="HanZi">夏</td>
						<td>
							<p>xià</p>
							<p>лето</p>
						</td>
					</tr>
					<tr> <!--头 奇 -->
						<td class="HanZi">头</td>
						<td>
							<p>tóu</p>
							<p>1) голова 2) начальник 3) первый</p>
						</td>
						<td class="HanZi">奇</td>
						<td>
							<p>qí</p>
							<p>1) странный; удивительный 2) изумительный; исключительный</p>
						</td>
					</tr>
					<tr> <!--如 婚 -->
						<td class="HanZi">如</td>
						<td>
							<p>rú</p>
							<p>1) словно, как будто 2) если</p>
						</td>
						<td class="HanZi">婚</td>
						<td>
							<p>hūn</p>
							<p>1) брак 2) свадьба</p>
						</td>
					</tr>
					<tr> <!--季 安 -->
						<td class="HanZi">季</td>
						<td>
							<p>jì</p>
							<p>сезон</p>
						</td>
						<td class="HanZi">安</td>
						<td>
							<p>ān</p>
							<p>мирный, тихий, спокойный</p>
						</td>
					</tr>
					<tr> <!--定 实 -->
						<td class="HanZi">定</td>
						<td>
							<p>dìng</p>
							<p>1) установить, выработать</p>
						</td>
						<td class="HanZi">实</td>
						<td>
							<p>shí</p>
							<p>1) правдивый; честный 2) реальность; факт 3) плод</p>
						</td>
					</tr>
					<tr> <!--害 容 -->
						<td class="HanZi">害</td>
						<td>
							<p>hài</p>
							<p>1) вред, ущерб 2) убить; убийство</p>
						</td>
						<td class="HanZi">容</td>
						<td>
							<p>róng</p>
							<p>1) вместить; поместить 2) разрешать, позволять 3) вид; облик</p>
						</td>
					</tr>
						<tr> <!--层 居 -->
						<td class="HanZi">层</td>
						<td>
							<p>céng</p>
							<p>1) слой; пласт 2) этаж, ярус</p>
						</td>
						<td class="HanZi">居</td>
						<td>
							<p>jū</p>
							<p>1) жить, проживать 2) занимать место</p>
						</td>
					</tr>
					<tr> <!--山 差 -->
						<td class="HanZi">山</td>
						<td>
							<p>shān</p>
							<p>гора</p>
						</td>
						<td class="HanZi">差</td>
						<td>
							<p>chà</p>
							<p>1) отличаться 2) ошибка</p>
						</td>
					</tr>
					<tr> <!--己 市 -->
						<td class="HanZi">己</td>
						<td>
							<p>jǐ</p>
							<p>сам, свой; персональный</p>
						</td>
						<td class="HanZi">市</td>
						<td>
							<p>shì</p>
							<p>1) рынок 2) город</p>
						</td>
					</tr>
					<tr> <!--带 帽 -->
						<td class="HanZi">带</td>
						<td>
							<p>dài</p>
							<p>1) лента, шнурок 2) зона, район, пояс 3) брать с собой</p>
						</td>
						<td class="HanZi">帽</td>
						<td>
							<p>mào</p>
							<p>головной убор</p>
						</td>
					</tr>
					<tr> <!--干 平 -->
						<td class="HanZi">干</td>
						<td>
							<p>gàn</p>
							<p>1) ствол; основная часть 2) делать работу</p>
						</td>
						<td class="HanZi">平</td>
						<td>
						<p>píng</p>
						<p>1) ровый, гладкий 2) уровень 3) мирный</p>
						</td>
					</tr>
					<tr> <!--应 康 -->
						<td class="HanZi">应</td>
						<td>
							<p>yīng</p>
							<p>должен</p>
						</td>
						<td class="HanZi">康</td>
						<td>
							<p>kang</p>
							<p>здоровье; благополучие</p>
						</td>
					</tr>
					<tr> <!--张 当 -->
						<td class="HanZi">张</td>
						<td>
							<p>zhāng</p>
							<p>1) раскрыть 2) раздуть; увеличить</p>
						</td>
						<td class="HanZi">当</td>
						<td>
							<p>dāng</p>
							<p>1) равный 2) должен 3) как раз</p>
						</td>
					</tr>
					<tr> <!--心 必 -->
						<td class="HanZi">心</td>
						<td>
							<p>xīn</p>
							<p>1) сердце 2) чувство; намерение 3) центр; середина</p>
						</td>
						<td class="HanZi">必</td>
						<td>
							<p>bì</p>
							<p>конечно, обязательно</p>
						</td>
					</tr>
					<tr> <!--忘 努 -->
						<td class="HanZi">忘</td>
						<td>
							<p>wàng</p>
							<p>1) забыть 2) упустить, не заметить</p>
						</td>
						<td class="HanZi">努</td>
						<td>
							<p>nǔ</p>
							<p>1) напрячь силы 2) выдаваться; выпячиваться</p>
						</td>
					</tr>
					<tr> <!--怕 急 -->
						<td class="HanZi">怕</td>
						<td>
							<p>pà</p>
							<p>1) бояться 2) боюсь, что</p>
						</td>
						<td class="HanZi">急</td>
						<td>
							<p>jí</p>
							<p>1) нетерпение 2) тревога 3) волноваться 4) быть раздраженным 5) быстро, стремительно 6) срочно</p>
						</td>
					</tr>
					<tr> <!--怪 总 -->
						<td class="HanZi">怪</td>
						<td>
							<p>guài</p>
							<p>странный, удивительный</p>
						</td>
						<td class="HanZi">总</td>
						<td>
							<p>zǒng</p>
							<p>1) сумма; все вместе 2) главный; генеральный</p>
						</td>
					</tr>
						<tr> <!--惯 感 -->
						<td class="HanZi">惯</td>
						<td>
							<p>guàn</p>
							<p>привыкнуть</p>
						</td>
						<td class="HanZi">感</td>
						<td>
							<p>gǎn</p>
							<p>1) чувствовать 2) чувства, ощущения</p>
						</td>
					</tr>
					<tr> <!--愿 戏 -->
						<td class="HanZi">愿</td>
						<td>
							<p>yuàn</p>
							<p>желать, хотеть</p>
						</td>
						<td class="HanZi">戏</td>
						<td>
							<p>xì</p>
							<p>1) играть 2) представление; шоу;</p>
						</td>
					</tr>
						<tr> <!--成 或 -->
						<td class="HanZi">成</td>
						<td>
							<p>chéng</p>
							<p>1) удасться; достигнуть 2) становиться 3) готовый</p>
						</td>
						<td class="HanZi">或</td>
						<td>
							<p>huò</p>
							<p>1) возможно, может быть 2) или</p>
						</td>
					</tr>
					<tr> <!--才 扫 -->
						<td class="HanZi">才</td>
						<td>
							<p>cái</p>
							<p>1) способности, талант, дар 2) только, лишь</p>
						</td>
						<td class="HanZi">扫</td>
						<td>
							<p>sǎo</p>
							<p>мести</p>
						</td>
					</tr>
					<tr> <!--把 护 -->
						<td class="HanZi">把</td>
						<td>
							<p>bǎ</p>
							<p>держать; схватить</p>
						</td>
						<td class="HanZi">护</td>
						<td>
							<p>hù</p>
							<p>защищать, охранять, беречь, заступиться</p>
						</td>
					</tr>
					<tr> <!--担 择 -->
						<td class="HanZi">担</td>
						<td>
							<p>dān</p>
							<p>нести (на плечах)</p>
						</td>
						<td class="HanZi">择</td>
						<td>
							<p>zé</p>
							<p>выбрать, избрать</p>
						</td>
					</tr>
					<tr> <!--拿 换-->
						<td class="HanZi">拿</td>
						<td>
							<p>ná</p>
							<p>1) взять; держать 2) схватить; захватить</p>
						</td>
						<td class="HanZi">换</td>
						<td>
							<p>huàn</p>
							<p>менять, обменять; обмениваться</p>
						</td>
					</tr>
					<tr> <!--据 接 -->
						<td class="HanZi">据</td>
						<td>
							<p>jù</p>
							<p>захватить, присвоить</p>
						</td>
						<td class="HanZi">接</td>
						<td>
							<p>jiē</p>
							<p>1) контактировать 2) соединять, связывать 3) подхватить, поймать 4) получить</p>
						</td>
					</tr>
					<tr> <!--提 搬 -->
						<td class="HanZi">提</td>
						<td>
							<p>tí</p>
							<p>1) держать; нести 2) поднимать</p>
						</td>
						<td class="HanZi">搬</td>
						<td>
							<p>bān</p>
							<p>переносить</p>
						</td>
					</tr>
					<tr> <!--放 故 -->
						<td class="HanZi">放
						</td>
						<td>
							<p>fàng</p>
							<p>1) освобождать, выпускать 2) ставить, класть</p>
						</td>
						<td class="HanZi">故</td>
						<td>
							<p>gù</p>
							<p>1) древний, старый 2) причина</p>
						</td>
					</tr>
					<tr> <!--数 文 -->
						<td class="HanZi">数</td>
						<td>
							<p>shù</p>
							<p>1) цифра 2) колличество 3) несколько</p>
						</td>
						<td class="HanZi">文</td>
						<td>
							<p>wén</p>
							<p>1) литература; текст 2) культура</p>
						</td>
					</tr>
					<tr> <!--料 斤 -->
						<td class="HanZi">料</td>
						<td>
							<p>liào</p>
							<p>1) предполагать, думать, ожидать 2) материал, сырьё; 3) корм</p>
						</td>
						<td class="HanZi">斤</td>
						<td>
							<p>jīn</p>
							<p>цзинь (0.5 кг)</p>
						</td>
					</tr>
					<tr> <!--方 旧 -->
						<td class="HanZi">方</td>
						<td>
							<p>fāng</p>
							<p>1) квадрат 2) направление 3) сторона 4) место, район</p>
						</td>
						<td class="HanZi">旧</td>
						<td>
							<p>jiù</p>
							<p>1) прошлое; минувший 2) старый, использованный, изношенный</p>
						</td>
					</tr>
					<tr> <!--易 春 -->
						<td class="HanZi">易</td>
						<td>
							<p>yì</p>
							<p>1) легкий 2) менять, обмениваться</p>
						</td>
						<td class="HanZi">春</td>
						<td>
							<p>chūn</p>
							<p>1) весна 2) любовь, страсть</p>
						</td>
					</tr>
					<tr> <!--更 末 -->
						<td class="HanZi">更</td>
						<td>
							<p>gèng</p>
							<p>более</p>
						</td>
						<td class="HanZi">末</td>
						<td>
							<p>mò</p>
							<p>1) конец 2) несущественный</p>
						</td>
					</tr>
					<tr> <!--朵 李 -->
						<td class="HanZi">朵</td>
						<td>
							<p>duǒ</p>
							<p>сч.сл. для чветов</p>
						</td>
						<td class="HanZi">李</td>
						<td>
							<p>lǐ</p>
							<p>слива</p>
						</td>
					</tr>
					<tr> <!--束 板 -->
						<td class="HanZi">束</td>
						<td>
							<p>shù</p>
							<p>1) вязать; привязывать 2) вязанка; букет</p>
						</td>
						<td class="HanZi">板</td>
						<td>
							<p>bǎn</p>
							<p>доска</p>
						</td>
					</tr>
					<tr> <!--极 查 -->
						<td class="HanZi">极</td>
						<td>
							<p>jí</p>
							<p>1) крайность, крайняя точка 2) полюс 3) крайне, чрезвычайно</p>
						</td>
						<td class="HanZi">查</td>
						<td>
							<p>chá</p>
							<p>проверять, исследовать</p>
						</td>
					</tr>
					<tr> <!--树 根 -->
						<td class="HanZi">树</td>
						<td>
							<p>shù</p>
							<p>1) дерево 2) сажать 3) утвердить; сформировать</p>
						</td>
						<td class="HanZi">根</td>
						<td>
							<p>gēn</p>
							<p>1) корень 2) корни, истоки</p>
						</td>
					</tr>
					<tr> <!--梯 检 -->
						<td class="HanZi">梯</td>
						<td>
							<p>tī</p>
							<p>ступени; лестница</p>
						</td>
						<td class="HanZi">检</td>
						<td>
							<p>jiǎn</p>
							<p>проверять, инспектировать</p>
						</td>
					</tr>
					<tr> <!--楚 楼 -->
						<td class="HanZi">楚</td>
						<td>
							<p>chǔ</p>
							<p>чистый, опрятный</p>
						</td>
						<td class="HanZi">楼</td>
						<td>
							<p>lóu</p>
							<p>высотное здание</p>
						</td>
					</tr>
					<tr> <!--段 求 -->
						<td class="HanZi">段</td>
						<td>
							<p>duàn</p>
							<p>1) отрезок, секция 2) параграф</p>
						</td>
						<td class="HanZi">求</td>
						<td>
							<p>qiú</p>
							<p>1) просить 2) искать 3) требовать</p>
						</td>
					</tr>
					<tr> <!--河 法 -->
						<td class="HanZi">河</td>
						<td>
							<p>hé</p>
							<p>река</p>
						</td>
						<td class="HanZi">法</td>
						<td>
							<p>fǎ</p>
							<p>1) закон 2) метод, способ 3) стандарт, модель</p>
						</td>
					</tr>
						<tr> <!--注 渴 -->
						<td class="HanZi">注</td>
						<td>
							<p>zhù</p>
							<p>1) вливать 2) течь</p>
						</td>
						<td class="HanZi">渴</td>
						<td>
							<p>kě</p>
							<p>жажда</p>
						</td>
					</tr>
					<tr> <!--满 澡 -->
						<td class="HanZi">满</td>
						<td>
							<p>mǎn</p>
							<p>полный, переполненый; наполнять</p>
						</td>
						<td class="HanZi">澡</td>
						<td>
							<p>zǎo</p>
							<p>купаться</p>
						</td>
					</tr>
					<tr> <!--灯 炼 -->
						<td class="HanZi">灯</td>
						<td>
							<p>dēng</p>
							<p>лампа, фонарь; свет</p>
						</td>
						<td class="HanZi">炼</td>
						<td>
							<p>liàn</p>
							<p>1) выплавлять 2) закалять</p>
						</td>
					</tr>
					<tr> <!--烧 照 -->
						<td class="HanZi">烧</td>
						<td>
							<p>shāo</p>
							<p>1) жечь 2) печь 3) жарить 4) жар, температура</p>
						</td>
						<td class="HanZi">照</td>
						<td>
							<p>zhào</p>
							<p>1) светиться 2) отражаться 3) фотография</p>
						</td>
					</tr>
					<tr> <!--熊 爬 -->
						<td class="HanZi">熊</td>
						<td>
							<p>xióng</p>
							<p>медведь</p>
						</td>
						<td class="HanZi">爬</td>
						<td>
							<p>pá</p>
							<p>1) ползти; лезть 2) залезать; взбираться</p>
						</td>
					</tr>
						<tr> <!--爷 片 -->
						<td class="HanZi">爷</td>
						<td>
							<p>yé</p>
							<p>1) отец 2) дед</p>
						</td>
						<td class="HanZi">片</td>
						<td>
							<p>piàn</p>
							<p>листок, клочек; ломоть</p>
						</td>
					</tr>
					<tr> <!--牙 物 -->
						<td class="HanZi">牙</td>
						<td>
							<p>yá</p>
							<p>зуб</p>
						</td>
						<td class="HanZi">物</td>
						<td>
							<p>wù</p>
							<p>вещь</p>
						</td>
					</tr>
					<tr> <!--特 环 -->
						<td class="HanZi">特</td>
						<td>
							<p>tè</p>
							<p>1) особенный 2) специально</p>
						</td>
						<td class="HanZi">环</td>
						<td>
							<p>huán</p>
							<p>1) кольцо, обруч 2) звено 3) окружать</p>
						</td>
					</tr>
					<tr> <!--理 瓶 -->
						<td class="HanZi">理</td>
						<td>
							<p>lǐ</p>
							<p>1) довод, резон; правота 2) естественные науки (например, физика)</p>
						</td>
						<td class="HanZi">瓶</td>
						<td>
							<p>píng</p>
							<p>бутылка; флакон; ваза</p>
						</td>
					</tr>
					<tr> <!--甜 用 -->
						<td class="HanZi">甜</td>
						<td>
							<p>tián</p>
							<p>сладкий</p>
						</td>
						<td class="HanZi">用</td>
						<td>
							<p>yòng</p>
							<p>1) пользоваться; применять 2) польза</p>
						</td>
					</tr>
					<tr> <!--画 界 -->
						<td class="HanZi">画</td>
						<td>
							<p>huà</p>
							<p>рисовать, красить</p>
						</td>
						<td class="HanZi">界</td>
						<td>
							<p>jiè</p>
							<p>1) граница 2) пределы, рамки 3) круги 4) область, сфера</p>
						</td>
					</tr>
					<tr> <!--留 疼 -->
						<td class="HanZi">留</td>
						<td>
							<p>liú</p>
							<p>1) оставаться 2) оставлять, сохранять</p>
						</td>
						<td class="HanZi">疼</td>
						<td>
							<p>téng</p>
							<p>1) больно; боль 2) горячо любить</p>
						</td>
					</tr>
					<tr> <!--瘦 皮 -->
						<td class="HanZi">瘦</td>
						<td>
							<p>shòu</p>
							<p>1) худой 2) узкий</p>
						</td>
						<td class="HanZi">皮</td>
						<td>
							<p>pí</p>
							<p>1) кожа 2) шкура 3) покрытие 4) поверхность 5) пласт</p>
						</td>
					</tr>
					<tr> <!--盘 目 -->
						<td class="HanZi">盘</td>
						<td>
							<p>pán</p>
							<p>1) тарелка; блюдо 2) проверять</p>
						</td>
						<td class="HanZi">目</td>
						<td>
							<p>mù</p>
							<p>1) глаз 2) смотреть 3) пункт</p>
						</td>
					</tr>
					<tr> <!--直 相 -->
						<td class="HanZi">直</td>
						<td>
							<p>zhí</p>
							<p>1) прямой 2) вертикальный</p>
						</td>
						<td class="HanZi">相</td>
						<td>
							<p>xiāng</p>
							<p>взаимно; друг друга</p>
						</td>
					</tr>
					<tr> <!--短 矮 -->
						<td class="HanZi">短</td>
						<td>
							<p>duǎn</p>
							<p>1) короткий 2) нехватка</p>
						</td>
						<td class="HanZi">矮</td>
						<td>
							<p>ǎi</p>
							<p>низкий</p>
						</td>
					</tr>
					<tr> <!--碗 礼 -->
						<td class="HanZi">碗</td>
						<td>
							<p>wǎn</p>
							<p>чашка</p>
						</td>
						<td class="HanZi">礼</td>
						<td>
							<p>lǐ</p>
							<p>1) обряд, ритуал 2) приличие, манеры 3) подарок</p>
						</td>
					</tr>
					<tr> <!--秋 种 -->
						<td class="HanZi">秋</td>
						<td>
							<p>qiū</p>
							<p>осень</p>
						</td>
						<td class="HanZi">种</td>
						<td>
							<p>zhǒng</p>
							<p>1) вид 2) раса 3) семена; всходы 4) вид; сорт; тип</p>
						</td>
					</tr>
					<tr> <!--空 突 -->
						<td class="HanZi">空</td>
						<td>
							<p>kōng</p>
							<p>1) пустой, порожний 2) небо, воздух 3) впустую, напрасно</p>
						</td>
						 <td class="HanZi">突</td>
						<td>
							<p>tū</p>
							<p>неожиданно</p>
						</td>
					</tr>
					<tr> <!--答 筷 -->
						<td class="HanZi">答</td>
						<td>
							<p>dá</p>
							<p>отвечать</p>
						</td>
						<td class="HanZi">筷</td>
						<td>
							<p>kuài</p>
							<p>палочки для еды</p>
						</td>
					</tr>
					<tr> <!--简 算 -->
						<td class="HanZi">简</td>
						<td>
							<p>jiǎn</p>
							<p>простой, несложный</p>
						</td>
						<td class="HanZi">算</td>
						<td>
							<p>suàn</p>
							<p>1) считать; сосчитать 2) планировать</p>
						</td>
					</tr>
					<tr> <!--箱 糕 -->
						<td class="HanZi">箱</td>
						<td>
							<p>xiāng</p>
							<p>ящик; чемодан; сундук</p>
						</td>
						<td class="HanZi">糕</td>
						<td>
							<p>gāo</p>
							<p>торт, пудинг</p>
						</td>
					</tr>
					<tr> <!--级 练 -->
						<td class="HanZi">级</td>
						<td>
							<p>jí</p>
							<p>1) разряд, ранг 2) класс, курс 3) ступень 4) уровень</p>
						</td>
						<td class="HanZi">练</td>
						<td>
							<p>liàn</p>
							<p>1) упражняться, тренироваться 2) опытный, натренированный</p>
						</td>
					</tr>
					<tr> <!--终 结 -->
						<td class="HanZi">终</td>
						<td>
							<p>zhōng</p>
							<p>конец</p>
						</td>
						<td class="HanZi">结</td>
						<td>
							<p>jié</p>
							<p>1) завязать, зашнуровать 2) узел</p>
						</td>
					</tr>
					<tr> <!--绩 绿 -->
						<td class="HanZi">绩</td>
						<td>
							<p>jī</p>
							<p>1) скручивать пеньковую нить 2) заслуга</p>
						</td>
						<td class="HanZi">绿</td>
						<td>
							<p>lǜ</p>
							<p>зеленый</p>
					</td>
					</tr>
					<tr> <!--网 者 -->
						<td class="HanZi">网</td>
						<td>
							<p>wǎng</p>
							<p>сеть</p>
						</td>
						<td class="HanZi">者</td>
						<td>
							<p>zhě</p>
							<p>суффикс, обозначающий деятеля (грамм.)</p>
						</td>
						</tr>
					<tr> <!--而 耳 -->
						<td class="HanZi">而</td>
						<td>
							<p>ér</p>
							<p>1) и 2) но 3) от</p>
						</td>
						<td class="HanZi">耳</td>
						<td>
							<p>ěr</p>
							<p>ухо</p>
						</td>
					</tr>
					<tr> <!--聊 聪 -->
						<td class="HanZi">聊</td>
						<td>
							<p>liáo</p>
							<p>1) только; просто 2) немного 3) болтать</p>
						</td>
						<td class="HanZi">聪</td>
						<td>
							<p>cōng</p>
							<p>1） чуткий (о слухе) 2） умный </p>
						</td>
					</tr>
					<tr> <!--育 胖 -->
						<td class="HanZi">育</td>
						<td>
							<p>yù</p>
							<p>1) родить 2) выращивать 3) воспитать</p>
						</td>
						<td class="HanZi">胖</td>
						<td>
							<p>pàng</p>
							<p>толстый, полный, тучный</p>
						</td>
					</tr>
					<tr> <!--脚 脸 -->
						<td class="HanZi">脚</td>
						<td>
							<p>jiǎo</p>
							<p>нога,  ступня</p>
						</td>
						<td class="HanZi">脸</td>
						<td>
							<p>liǎn</p>
							<p>лицо; передняя часть</p>
						</td>
					</tr>
					<tr> <!--腿 自 -->
						<td class="HanZi">腿</td>
						<td>
							<p>tuǐ</p>
							<p>1) нога; бедро 2) ножка (мебели и т.п.)</p>
						</td>
						<td class="HanZi">自</td>
						<td>
							<p>zì</p>
							<p>сам, самостоятельно; лично</p>
						</td>
					</tr>
					<tr> <!--舒 般 -->
						<td class="HanZi">舒</td>
						<td>
							<p>shū</p>
							<p>1) разгладиться; расправиться 2) легко; уютно</p>
						</td>
						<td class="HanZi">般</td>
						<td>
							<p>bān</p>
							<p>как, подобно</p>
						</td>
					</tr>
					<tr> <!--船 节 -->
						<td class="HanZi">船</td>
						<td>
							<p>chuán</p>
							<p>лодка, судно</p>
						</td>
						<td class="HanZi">节</td>
						<td>
							<p>jié</p>
							<p>1) колено, сочленение, узел; деление; часть; секция 2) праздник, фестиваль</p>
						</td>
					</tr>
					<tr> <!--花 草 -->
						<td class="HanZi">花</td>
						<td>
							<p>huā</p>
							<p>цветок, цветы</p>
						</td>
						<td class="HanZi">草</td>
						<td>
							<p>cǎo</p>
							<p>трава; солома</p>
						</td>
					</tr>
					<tr> <!--蓝 蕉 -->
						<td class="HanZi">蓝</td>
						<td>
							<p>lán</p>
							<p>1) синий</p>
						</td>
						<td class="HanZi">蕉</td>
						<td>
							<p>jiāo</p>
							<p>любое растение с широкими листьями</p>
						</td>
					</tr>
						<tr> <!--行 街 -->
						<td class="HanZi">行</td>
						<td>
							<p>xíng</p>
							<p>1) идти 2) путешествовать 3) циркулировать</p>
						</td>
						<td class="HanZi">街</td>
						<td>
							<p>jiē</p>
							<p>улица</p>
						</td>
					</tr>
					<tr> <!--衫 衬 -->
						<td class="HanZi">衫</td>
						<td>
							<p>shān</p>
							<p>нижняя нательная рубашка</p>
						</td>
						<td class="HanZi">衬</td>
						<td>
							<p>chèn</p>
							<p>нижний</p>
						</td>
					</tr>
					<tr> <!--裙 裤 -->
						<td class="HanZi">裙</td>
						<td>
							<p>qún</p>
							<p>юбка</p>
						</td>
						<td class="HanZi">裤</td>
						<td>
							<p>kù</p>
							<p>брюки, штаны</p>
						</td>
					</tr>
					<tr> <!--角 解 -->
						<td class="HanZi">角</td>
						<td>
							<p>jiǎo</p>
							<p>1) рог 2) угол</p>
						</td>
						<td class="HanZi">解</td>
						<td>
							<p>jiě</p>
							<p>1) отделять; делить 2) развязать, расстегуть, ослаблять 3) объяснить</p>
						</td>
					</tr>
					<tr> <!--议 记 -->
						<td class="HanZi">议</td>
						<td>
							<p>yì</p>
							<p>мнение, взгляд</p>
						</td>
						<td class="HanZi">记</td>
						<td>
							<p>jì</p>
							<p>1) помнить, держать в памяти 2) записать 3) записки; метка, знак</p>
						</td>
					</tr>
					<tr> <!--讲 词 -->
						<td class="HanZi">讲</td>
						<td>
							<p>jiǎng</p>
							<p>1) говорить, сказать 2) объяснить, разъяснить 3) обсуждать</p>
						</td>
						<td class="HanZi">词</td>
						<td>
							<p>cí</p>
							<p>1) слово; речь 2) речь, заявление</p>
						</td>
					</tr>
					<tr> <!--该 请 -->
						<td class="HanZi">该</td>
						<td>
							<p>gāi</p>
							<p>должно быть, должен, следует</p>
						</td>
						<td class="HanZi">请</td>
						<td>
							<p>qǐng</p>
							<p>1) просить 2) приглашать 3) пожалуйста</p>
						</td>
					</tr>
					<tr> <!--调 赛 -->
						<td class="HanZi">调</td>
						<td>
							<p>diào</p>
							<p>1) перебрасывать 2) тон 3) мелодия</p>
						</td>
						<td class="HanZi">赛</td>
						<td>
							<p>sài</p>
							<p>1) состязание, соревнование 2) превосходить кого-л.</p>
						</td>
					</tr>
					<tr> <!--超 越 -->
						<td class="HanZi">超</td>
						<td>
							<p>chāo</p>
							<p>1) превосходить 2) ультра, супер, сверх</p>
						</td>
						<td class="HanZi">越</td>
						<td>
							<p>yuè</p>
							<p>1) перебраться через что-л. 2) превысить</p>
						</td>
					</tr>
					<tr> <!--跟 轻 -->
						<td class="HanZi">跟</td>
						<td>
							<p>gēn</p>
							<p>1) пятка 2) следовать за кем-л. 3) с кем-л.</p>
						</td>
						<td class="HanZi">轻</td>
						<td>
							<p>qīng</p>
							<p>легкий</p>
						</td>
					</tr>
						<tr> <!--较 辆 -->
						<td class="HanZi">较</td>
						<td>
							<p>jiào</p>
							<p>1) сравнивать 2) сравнительно, достаточно, относительно</p>
						</td>
						<td class="HanZi">辆</td>
						<td>
							<p>liàng</p>
							<p>сч.сл. для автомобилей</p>
						</td>
					</tr>
					<tr> <!--迎 迟 -->
						<td class="HanZi">迎</td>
						<td>
							<p>yíng</p>
							<p>1) встретить, приветствовать 2) выходить навстречу</p>
						</td>
						<td class="HanZi">迟</td>
						<td>
							<p>chí</p>
							<p>1) медленный 2) поздний, запоздалый</p>
						</td>
					</tr>
					<tr> <!--选 遇 -->
						<td class="HanZi">选</td>
						<td>
							<p>xuǎn</p>
							<p>1) выбрать; отобрать 2) выборы</p>
						</td>
						<td class="HanZi">遇</td>
						<td>
							<p>yù</p>
							<p>1) встречаться; попадаться 2) шанс, случай возможность</p>
						</td>
					</tr>
					<tr> <!--邮 邻 -->
						<td class="HanZi">邮</td>
						<td>
							<p>yóu</p>
							<p>почта; почтовый</p>
						</td>
						<td class="HanZi">邻</td>
						<td>
							<p>lín</p>
							<p>1) сосед 2) близкий; поблизости</p>
						</td>
					</tr>
					<tr> <!--酒 重 -->
						<td class="HanZi">酒</td>
						<td>
							<p>jiǔ</p>
							<p>алкоголь, вино</p>
						</td>
						<td class="HanZi">重</td>
						<td>
							<p>zhòng</p>
							<p>1) тяжелый 2) глубокий; серьезный 3) важный</p>
						</td>
					</tr>
					<tr> <!--铁 银 -->
						<td class="HanZi">铁</td>
						<td>
							<p>tiě</p>
							<p>железо</p>
						</td>
						<td class="HanZi">银</td>
						<td>
							<p>yín</p>
							<p>серебро; серебрянный</p>
						</td>
					</tr>
					<tr> <!--锻 闻 -->
						<td class="HanZi">锻</td>
						<td>
							<p>duàn</p>
							<p>ковать; кузница</p>
						</td>
						<td class="HanZi">闻</td>
						<td>
							<p>wén</p>
							<p>1) слышать 2) новости</p>
						</td>
					</tr>
					<tr> <!--附 除 -->
						<td class="HanZi">附</td>
						<td>
							<p>fù</p>
							<p>1) приложить, сопроводить 2) находиться поблизости</p>
						</td>
						<td class="HanZi">除
						</td>
						<td>
							<p>chú</p>
							<p>1) освобождать, удалять 2) кроме</p>
						</td>
					</tr>
					<tr> <!--难 需 -->
						<td class="HanZi">难</td>
						<td>
							<p>nán</p>
							<p>трудный; тяжелый</p>
						</td>
						<td class="HanZi">需</td>
						<td>
							<p>xū</p>
							<p>1) требовать; нуждаться 2) потребности</p>
						</td>
					</tr>
					<tr> <!--静 鞋 -->
						<td class="HanZi">静</td>
						<td>
							<p>jìng</p>
							<p>тихий, спокойный</p>
						</td>
						<td class="HanZi">鞋</td>
						<td>
							<p>xié</p>
							<p>обувь</p>
						</td>
					</tr>
					<tr> <!--音 须 -->
						<td class="HanZi">音</td>
						<td>
							<p>yīn</p>
							<p>1) звук 2) тон</p>
						</td>
						<td class="HanZi">须</td>
						<td>
							<p>xū</p>
							<p>1) должно, необходими 2) борода; усы</p>
						</td>
					</tr>
					<tr> <!--顾 风 -->
						<td class="HanZi">顾</td>
						<td>
							<p>gù</p>
							<p>1) оглянуться 2) заботиться</p>
						</td>
						<td class="HanZi">风</td>
						<td>
							<p>fēng</p>
							<p>1) ветер 2) мода, стиль</p>
						</td>
					</tr>
					<tr> <!--饮 饿 -->
						<td class="HanZi">饮
						</td>
						<td>
							<p>yǐn</p>
							<p>пить</p>
						</td>
						<td class="HanZi">饿</td>
						<td>
							<p>è</p>
							<p>голодный; голод</p>
						</td>
						</tr>
					<tr> <!--香 马 -->
						<td class="HanZi">香</td>
						<td>
							<p>xiāng</p>
							<p>1) ароматный 2) вкусный</p>
						</td>
						<td class="HanZi">马</td>
						<td>
							<p>mǎ</p>
							<p>лошадь</p>
						</td>
					</tr>
					<tr> <!--骑 鲜 -->
						<td class="HanZi">骑</td>
						<td>
							<p>qí</p>
							<p>ехать верхом</p>
						</td>
						<td class="HanZi">鲜</td>
						<td>
							<p>xiān</p>
							<p>1) свежий 2) вкусный</p>
						</td>
					</tr>
					<tr> <!-- 鸟 鼻 -->
						<td class="HanZi">鸟</td>
						<td>
							<p>niǎo</p>
							<p>птица</p>
						</td>
						<td class="HanZi">鼻</td>
						<td>
							<p>bí</p>
							<p>нос</p>
						</td>
					</tr>
					<tr> <!-- 清 黄 -->
						<td class="HanZi">清</td>
						<td>
							<p>qīng</p>
							<p>1) чистый 2) спокойный</p>
						</td>
						<td class="HanZi">黄</td>
						<td>
							<p>huáng</p>
							<p>желтый</p>
						</td>
					</tr>
					<tr> <!-- 澡 -->
						<td class="HanZi">澡</td>
						<td>
							<p>zǎo</p>
							<p>мыть; принимать ванную</p>
						</td>
						<td class="HanZi"></td>
						<td>
							<p></p>
							<p></p>
						</td>
					</tr>
				</tbody>
			</table>
		</main>
	</body>
</html>
