{% load static %}
<html>
	<head>
		<title>HanZiHSK2</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="{% static 'main/css/mainHanzi.css' %}">
		<meta name="keywords" content="китайские иероглифы,hsk 2,китайский язык">
	</head>
	<body>
		<header>
			<div class="GoBack">
				<a href="{% url 'home' %}"><p>на главную</p></a>
			</div>
		</header>
		<main>
			<table align="center">
				<tbody class="HanZiDict">
					<tr> <!-- 丈 两 -->
						<td class="HanZi">丈</td>
						<td>
							<p>zhàng</p>
							<p>1） мужчина; муж 2) чжан (3,33 м)</p>
						</td>
						<td class="HanZi">两</td>
						<td>
							<p>liǎng</p>
							<p>1) два 2) оба, пара 3) лян (50 г.)</p>
						</td>
					</tr>
					<tr> <!-- 为 乐 -->
						<td class="HanZi">为</td>
						<td>
							<p>wèi</p>
							<p>1) выполнять 2) управлять 3) быть</p>
						</td>
						<td class="HanZi">乐</td>
						<td>
							<p>lè</p>
							<p>1) радоваться, веселиться 2) приятный 3) музыка</p>
						</td>
					</tr>
					<tr> <!-- 也 事 -->
						<td class="HanZi">也</td>
						<td>
							<p>yě</p>
							<p>тоже, также, и</p>
						</td>
						<td class="HanZi">事</td>
						<td>
							<p>shì</p>
							<p>1) дело 2) происшествие 3) работа 4) быть нанятым</p>
						</td>
					</tr>
					<tr> <!-- 云 介 -->
						<td class="HanZi">云</td>
						<td>
							<p>yùn</p>
							<p>1) говорить 2) облако</p>
						</td>
						<td class="HanZi">介</td>
						<td>
							<p>jiè</p>
							<p>1) между 2) относиться серьезно</p>
						</td>
					</tr>
					<tr> <!-- 从 以 -->
						<td class="HanZi">从</td>
						<td>
							<p>cóng</p>
							<p>1) из, от 2) следовать за кем-л., чем-л.</p>
						</td>
						<td class="HanZi">以</td>
						<td>
							<p>yǐ</p>
							<p>1) посредством чего-л. 2) по причине 3) согласно 4) чтобы</p>
						</td>
					</tr>
					<tr> <!-- 件 休 -->
						<td class="HanZi">件</td>
						<td>
							<p>jiàn</p>
							<p>сч.сл. для предметов одежды; письм, корреспонденции</p>
						</td>
						<td class="HanZi">休</td>
						<td>
							<p>xiū</p>
							<p>перестать, прекратить</p>
						</td>
					</tr>
					<tr> <!-- 但 体 -->
						<td class="HanZi">但</td>
						<td>
							<p>dàn</p>
							<p>1) однако 2) но</p>
						</td>
						<td class="HanZi">体</td>
						<td>
							<p>tǐ</p>
							<p>тело; часть </p>
						</td>
					</tr>
					<tr> <!-- 便 公 -->
						<td class="HanZi">便</td>
						<td>
							<p>biàn</p>
							<p>1) удобный 2) простой 3) целесообразный</p>
						</td>
						<td class="HanZi">公</td>
						<td>
							<p>gōng</p>
							<p>1) справедливый 2) общественный</p>
						</td>
					</tr>
					<tr> <!-- 共 准 -->
						<td class="HanZi">共</td>
						<td>
							<p>gòng</p>
							<p>1) вместе с 2) общий 3) делить с кем-л. 4) в целом</p>
						</td>
						<td class="HanZi">准</td>
						<td>
							<p>zhǔn</p>
							<p>1) разрешить, позволить 2) стандарт; норма</p>
						</td>
					</tr>
					<tr> <!-- 别 到 -->
						<td class="HanZi">别</td>
						<td>
							<p>bié</p>
							<p>отдельный; другой; нельзя</p>
						</td>
						<td class="HanZi">到</td>
						<td>
							<p>dào</p>
							<p>1) прибыть, достичь 2) направляться куда-л. 3) до чего-л.</p>
						</td>
					</tr>
					<tr> <!-- 务 动 -->
						<td class="HanZi">务</td>
						<td>
							<p>wù</p>
							<p>1) бизнес; занятие 2) заниматься</p>
						</td>
						<td class="HanZi">动</td>
						<td>
							<p>dòng</p>
							<p>1) двигаться 2) движение</p>
						</td>
					</tr>
					<tr> <!-- 助 千 -->
						<td class="HanZi">助</td>
						<td>
							<p>zhù</p>
							<p>помогать; оказывать помощь</p>
						</td>
						<td class="HanZi">千</td>
						<td>
							<p>qiān</p>
							<p>1) тысяча 2) большое число</p>
						</td>
					</tr>
					<tr> <!-- 卖 可 -->
						<td class="HanZi">卖</td>
						<td>
							<p>mài</p>
							<p>1) продавать 2) предать 3) выставлять на показ</p>
						</td>
						<td class="HanZi">可</td>
						<td>
							<p>kě</p>
							<p>1) одобрять 2) мочь; можно 3) но; тем не менее</p>
						</td>
					</tr>
					<tr> <!-- 右 司 -->
						<td class="HanZi">右</td>
						<td>
							<p>yòu</p>
							<p>1) правая сторона 2) правый 3) западный</p>
						</td>
						<td class="HanZi">司</td>
						<td>
							<p>sī</p>
							<p>1) ведать; контролировать 2) департамент</p>
						</td>
					</tr>
					<tr> <!-- 吧 告 -->
						<td class="HanZi">吧</td>
						<td>
							<p>ba</p>
							<p>эмфатическая конечная частица</p>
						</td>
						<td class="HanZi">告</td>
						<td>
							<p>gào</p>
							<p>1) сказать, информировать 2) обвинять</p>
						</td>
					</tr>
					<tr> <!-- 员 咖 -->
						<td class="HanZi">员</td>
						<td>
							<p>yuán</p>
							<p>человек, который работает или учится</p>
						</td>
						<td class="HanZi">咖</td>
						<td>
							<p>kā</p>
							<p>кофе</p>
						</td>
					</tr>
					<tr> <!-- 哥 唱 -->
						<td class="HanZi">哥</td>
						<td>
							<p>gē</p>
							<p>старший брат</p>
						</td>
						<td class="HanZi">唱</td>
						<td>
							<p>chàng</p>
							<p>1) петь 2) играть; выступать</p>
						</td>
					</tr>
					<tr> <!-- 啡 因 -->
						<td class="HanZi">啡</td>
						<td>
							<p>fēi</p>
							<p>кофе</p>
						</td>
						<td class="HanZi">因</td>
						<td>
							<p>yīn</p>
							<p>1) причина 2) потому что</p>
						</td>
					</tr>
					<tr> <!-- 场 备 -->
						<td class="HanZi">场</td>
						<td>
							<p>chǎng</p>
							<p>открытая площадка; поле; рынок</p>
						</td>
						<td class="HanZi">备</td>
						<td>
							<p>bèi</p>
							<p>подготовить, приготовить; обеспечить</p>
						</td>
					</tr>
					<tr> <!-- 外 夫 -->
						<td class="HanZi">外</td>
						<td>
							<p>wài</p>
							<p>1) внешний 2) другой; чужой 3) иностранный</p>
						</td>
						<td class="HanZi">夫</td>
						<td>
							<p>fū</p>
							<p>1) муж 2) мужчина</p>
						</td>
					</tr>
					<tr> <!-- 妹 妻 -->
						<td class="HanZi">妹</td>
						<td>
							<p>mèi</p>
							<p>младшая сестра</p>
						</td>
						<td class="HanZi">妻</td>
						<td>
							<p>qī</p>
							<p>жена</p>
						</td>
					</tr>
					<tr> <!-- 始 孩 -->
						<td class="HanZi">始</td>
						<td>
							<p>shǐ</p>
							<p>1) начало; старт 2) только тогда</p>
						</td>
						<td class="HanZi">孩</td>
						<td>
							<p>hái</p>
							<p>ребенок</p>
						</td>
					</tr>
					<tr> <!-- 它 完 -->
						<td class="HanZi">它</td>
						<td>
							<p>tā</p>
							<p>он; она; оно</p>
						</td>
						<td class="HanZi">完</td>
						<td>
							<p>wán</p>
							<p>1) полный; весь 2) закончить, завершить</p>
						</td>
					</tr>
					<tr> <!-- 宜 室 -->
						<td class="HanZi">宜</td>
						<td>
							<p>yí</p>
							<p>1) подходящий 2) надо, должно</p>
						</td>
						<td class="HanZi">室</td>
						<td>
							<p>shì</p>
							<p>комната</p>
						</td>
					</tr>
					<tr> <!-- 宾 就 -->
						<td class="HanZi">宾</td>
						<td>
							<p>bīn</p>
							<p>гость</p>
						</td>
						<td class="HanZi">就</td>
						<td>
							<p>jiù</p>
							<p>1） тот час же 2) только 3) подходить близко</p>
						</td>
					</tr>
					<tr> <!-- 左 已 -->
						<td class="HanZi">左</td>
						<td>
							<p>zuǒ</p>
							<p>1) левая сторона 2) левый 3) восточный 4) неподходящий</p>
						</td>
						<td class="HanZi">已</td>
						<td>
							<p>yǐ</p>
							<p>1) остановиться, прекратиться 2) уже</p>
						</td>
					</tr>
					<tr> <!-- 希 帮 -->
						<td class="HanZi">希</td>
						<td>
							<p>xī</p>
							<p>1) надежда 2) редкий, диковинный</p>
						</td>
						<td class="HanZi">帮</td>
						<td>
							<p>bāng</p>
							<p>помогать</p>
						</td>
					</tr>
					<tr> <!-- 常 床 -->
						<td class="HanZi">常</td>
						<td>
							<p>cháng</p>
							<p>1) обыкновенный 2) постоянный 3) обычно</p>
						</td>
						<td class="HanZi">床</td>
						<td>
							<p>chuáng</p>
							<p>кровать</p>
						</td>
					</tr>
					<tr> <!-- 弟 往 -->
						<td class="HanZi">弟</td>
						<td>
							<p>dì</p>
							<p>младший брат</p>
						</td>
						<td class="HanZi">往</td>
						<td>
							<p>wǎng</p>
							<p>1) идти; направляться 3) прошлый, предыдущий</p>
						</td>
					</tr>
					<tr> <!-- 得 忙 -->
						<td class="HanZi">得</td>
						<td>
							<p>dé</p>
							<p>получать</p>
						</td>
						<td class="HanZi">忙</td>
						<td>
							<p>màng</p>
							<p>1) занятой 2) суета; спешка</p>
						</td>
					</tr>
					<tr> <!-- 快 思 -->
						<td class="HanZi">快</td>
						<td>
							<p>kuài</p>
							<p>1) быстро, скоро 2) скорость 3) торопиться</p>
						</td>
						<td class="HanZi">思</td>
						<td>
							<p>sī</p>
							<p>1) думать 2) скучать по кому-л. 3) мысль, идея</p>
						</td>
					</tr>
					<tr> <!-- 息 情 -->
						<td class="HanZi">息</td>
						<td>
							<p>xī</p>
							<p>1) дыхание 2) новость 3) остановить 4) отдыхать 5) интерес</p>
						</td>
						<td class="HanZi">情</td>
						<td>
							<p>qíng</p>
							<p>1) чувство 2) любовь 3) доброта 4) ситуация; обстоятельства</p>
						</td>
					</tr>
					<tr> <!-- 意 慢 -->
						<td class="HanZi">意</td>
						<td>
							<p>yì</p>
							<p>1) значение, смысл 2) совет, предложение</p>
						</td>
						<td class="HanZi">慢</td>
						<td>
							<p>màn</p>
							<p>1) медленный 2) откладывать, отсрочивать</p>
						</td>
					</tr>
					<tr> <!-- 懂 房 -->
						<td class="HanZi">懂</td>
						<td>
							<p>dǒng</p>
							<p>понимать</p>
						</td>
						<td class="HanZi">房</td>
						<td>
							<p>fáng</p>
							<p>1) дом 2) комната</p>
						</td>
					</tr>
					<tr> <!-- 所 手 -->
						<td class="HanZi">所</td>
						<td>
							<p>suǒ</p>
							<p>место</p>
						</td>
						<td class="HanZi">手</td>
						<td>
							<p>shǒu</p>
							<p>рука</p>
						</td>
					</tr>
					<tr> <!-- 找 报 -->
						<td class="HanZi">找</td>
						<td>
							<p>zhǎo</p>
							<p>искать; выискивать</p>
						</td>
						<td class="HanZi">报</td>
						<td>
							<p>bào</p>
							<p>1) доносить; докладывать 2) газета</p>
						</td>
					</tr>
					<tr> <!-- 教 新 -->
						<td class="HanZi">教</td>
						<td>
							<p>jiào</p>
							<p>преподавать, обучать</p>
						</td>
						<td class="HanZi">新</td>
						<td>
							<p>xīn</p>
							<p>новый, свежий</p>
						</td>
					</tr>
					<tr> <!-- 旁 旅 -->
						<td class="HanZi">旁</td>
						<td>
							<p>páng</p>
							<p>сторона; около, близко</p>
						</td>
						<td class="HanZi">旅</td>
						<td>
							<p>lǚ</p>
							<p>путешествовать</p>
						</td>
					</tr>
					<tr> <!-- 日 早 -->
						<td class="HanZi">日</td>
						<td>
							<p>rì</p>
							<p>1) солнце 2) днем 3) день</p>
						</td>
						<td class="HanZi">早</td>
						<td>
							<p>zǎo</p>
							<p>1) раннее утро 2) раньше, ранее</p>
						</td>
					</tr>
					<tr> <!-- 晚 晴 -->
						<td class="HanZi">晚</td>
						<td>
							<p>wǎn</p>
							<p>1) вечер; сумерки 2) поздно</p>
						</td>
						<td class="HanZi">晴</td>
						<td>
							<p>qíng</p>
							<p>проясниться; ясный</p>
						</td>
					</tr>
					<tr> <!-- 最 望 -->
						<td class="HanZi">最</td>
						<td>
							<p>zuì</p>
							<p>самый</p>
						</td>
						<td class="HanZi">望</td>
						<td>
							<p>wàng</p>
							<p>1) смотреть вдаль 2) навестить 3) надеяться</p>
						</td>
					</tr>
					<tr> <!-- 条 次 -->
						<td class="HanZi">条</td>
						<td>
							<p>tiáo</p>
							<p>1) условие 2) полоска; нить</p>
						</td>
						<td class="HanZi">次</td>
						<td>
							<p>cì</p>
							<p>1) порядок, последовательность 2) следующий</p>
						</td>
					</tr>
					<tr> <!-- 歌 正 -->
						<td class="HanZi">歌</td>
						<td>
							<p>gē</p>
							<p>1) песня 2) петь</p>
						</td>
						<td class="HanZi">正</td>
						<td>
							<p>zhèng</p>
							<p>1) прямой 2) правильный 3) честный, правдивый</p>
						</td>
					</tr>
					<tr> <!-- 步 每 -->
						<td class="HanZi">步</td>
						<td>
							<p>bù</p>
							<p>1) шаг; шагать 2) идти пешком</p>
						</td>
						<td class="HanZi">每</td>
						<td>
							<p>měi</p>
							<p>каждый, всякий</p>
						</td>
					</tr>
					<tr> <!-- 比 汽 -->
						<td class="HanZi">比</td>
						<td>
							<p>bǐ</p>
							<p>1) сравнивать 2) соревноваться 3) пропорция</p>
						</td>
						<td class="HanZi">汽</td>
						<td>
							<p>qì</p>
							<p>пар</p>
						</td>
					</tr>
					<tr> <!-- 泳 洗 -->
						<td class="HanZi">泳</td>
						<td>
							<p>yǒng</p>
							<p>плавать</p>
						</td>
						<td class="HanZi">洗</td>
						<td>
							<p>xǐ</p>
							<p>стирать; мыть; чистить</p>
						</td>
					</tr>
					<tr> <!-- 游 火 -->
						<td class="HanZi">游</td>
						<td>
							<p>yóu</p>
							<p>1) плавать 2) путешествовать 3) бродить, слоняться</p>
						</td>
						<td class="HanZi">火</td>
						<td>
							<p>huǒ</p>
							<p>1) огонь 2) пламя 3) вспыльчивость</p>
						</td>
					</tr>
					<tr> <!-- 然 牛 -->
						<td class="HanZi">然</td>
						<td>
							<p>rán</p>
							<p>1) правильно, верно 2) так, таким образом</p>
						</td>
						<td class="HanZi">牛</td>
						<td>
							<p>niú</p>
							<p>корова, бык</p>
						</td>
					</tr>
					<tr> <!-- 玩 班 -->
						<td class="HanZi">玩</td>
						<td>
							<p>wán</p>
							<p>1) играть; забовляться 2) любоваться; наслаждаться</p>
						</td>
						<td class="HanZi">班</td>
						<td>
							<p>bān</p>
							<p>класс; команда</p>
						</td>
					</tr>
					<tr> <!-- 球 瓜 -->
						<td class="HanZi">球</td>
						<td>
							<p>qiú</p>
							<p>1) шар; сфера 2) мяч</p>
						</td>
						<td class="HanZi">瓜</td>
						<td>
							<p>guā</p>
							<p>бахчевые культуры (например дыня)</p>
						</td>
					</tr>
					<tr> <!-- 男 病 -->
						<td class="HanZi">男</td>
						<td>
							<p>nán</p>
							<p>1) мужчина; мужской 2) сын; мальчик</p>
						</td>
						<td class="HanZi">病</td>
						<td>
							<p>bìng</p>
							<p>1) болезнь, недуг 2) заболеть 3) недостаток, дефект</p>
						</td>
					</tr>
					<tr> <!-- 白 百 -->
						<td class="HanZi">白</td>
						<td>
							<p>bái</p>
							<p>белый</p>
						</td>
						<td class="HanZi">百</td>
						<td>
							<p>bǎi</p>
							<p>сто, сотня</p>
						</td>
					</tr>
					<tr> <!-- 真 眼 -->
						<td class="HanZi">真</td>
						<td>
							<p>zhēn</p>
							<p>реальный; действительный; подлинный</p>
						</td>
						<td class="HanZi">眼</td>
						<td>
							<p>yǎn</p>
							<p>1) глаза 2) маленькое отверстие, дырка</p>
						</td>
					</tr>
					<tr> <!-- 知 票 -->
						<td class="HanZi">知</td>
						<td>
							<p>zhī</p>
							<p>1) знать 2) знание</p>
						</td>
						<td class="HanZi">票</td>
						<td>
							<p>piào</p>
							<p>1) билет 2) бюллетень 3) банкнота</p>
						</td>
					</tr>
					<tr> <!-- 离 穿 -->
						<td class="HanZi">离</td>
						<td>
							<p>lí</p>
							<p>1) разлучаться, расставаться 2) расстояние от кого-л./чего-л.</p>
						</td>
						<td class="HanZi">穿</td>
						<td>
							<p>chuān</p>
							<p>1) проникать 2) пронзать 3) носить, быть одетым во что-л.</p>
						</td>
					</tr>
					<tr> <!-- 站 笑 -->
						<td class="HanZi">站</td>
						<td>
							<p>zhàn</p>
							<p>1) стоять 2) остановка 3) станция 4) центр; пункт; база</p>
						</td>
						<td class="HanZi">笑</td>
						<td>
							<p>xiāo</p>
							<p>1) улыбка; смех 2) осмеивать, высмеивать</p>
						</td>
					</tr>
					<tr> <!-- 笔 第 -->
						<td class="HanZi">笔</td>
						<td>
							<p>bǐ</p>
							<p>1) ручка, перо 2) техника письма; каллиграфия 3) рисование</p>
						</td>
						<td class="HanZi">第</td>
						<td>
							<p>dì</p>
							<p>1) префикс порядковых числительных 2) уровень, ранг;</p>
						</td>
					</tr>
					<tr> <!-- 累 红 -->
						<td class="HanZi">累</td>
						<td>
							<p>lèi</p>
							<p>1) усталый 2) вовлекать, впутывать 3) докучать</p>
						</td>
						<td class="HanZi">红</td>
						<td>
							<p>hóng</p>
							<p>красный</p>
						</td>
					</tr>
					<tr> <!-- 纸 绍 -->
						<td class="HanZi">纸</td>
						<td>
							<p>zhǐ</p>
							<p>бумага</p>
						</td>
						<td class="HanZi">绍</td>
						<td>
							<p>shào</p>
							<p>1） продолжать 2) соединять</p>
						</td>
					</tr>
					<tr> <!-- 经 给 -->
						<td class="HanZi">经</td>
						<td>
							<p>jīng</p>
							<p>1) руководить, управлять 2) проходить через что-л.; испытывать, переносить</p>
						</td>
						<td class="HanZi">给</td>
						<td>
							<p>gěi</p>
							<p>дать, предоставить, позволить</p>
						</td>
					</tr>
					<tr> <!-- 羊 考 -->
						<td class="HanZi">羊</td>
						<td>
							<p>yáng</p>
							<p>овца; коза</p>
						</td>
						<td class="HanZi">考</td>
						<td>
							<p>kǎo</p>
							<p>1) сдавать экзамен 2) проверять 3) изучать</p>
						</td>
					</tr>
					<tr> <!-- 肉 舞 -->
						<td class="HanZi">肉</td>
						<td>
							<p>ròu</p>
							<p>1) мясо 2) мякоть; сердцевина</p>
						</td>
						<td class="HanZi">舞</td>
						<td>
							<p>wǔ</p>
							<p>1) танец 2) махать; размахивать 3) фехтовать</p>
						</td>
					</tr>
					<tr> <!-- 色 药 -->
						<td class="HanZi">色</td>
						<td>
							<p>sè</p>
							<p>1) цвет 2) вид; лицо</p>
						</td>
						<td class="HanZi">药</td>
						<td>
							<p>yào</p>
							<p>медецина; лекарства</p>
						</td>
					</tr>
					<tr> <!-- 篮 虽 -->
						<td class="HanZi">篮</td>
						<td>
							<p>lán</p>
							<p>1) бамбуковая корзина 2) баскетбольная корзина</p>
						</td>
						<td class="HanZi">虽</td>
						<td>
							<p>suī</p>
							<p>пусть; хотя</p>
						</td>
					</tr>
					<tr> <!-- 蛋 表 -->
						<td class="HanZi">蛋</td>
						<td>
							<p>dàn</p>
							<p>яйцо</p>
						</td>
						<td class="HanZi">表</td>
						<td>
							<p>biǎo</p>
							<p>показывать; выражать</p>
						</td>
					</tr>
					<tr> <!-- 要 让 -->
						<td class="HanZi">要</td>
						<td>
							<p>yào</p>
							<p>1) важный 2) хотеть 3) нужно</p>
						</td>
						<td class="HanZi">让</td>
						<td>
							<p>ràng</p>
							<p>1) разрешить, позволить 2) уступить </p>
						</td>
					</tr>
					<tr> <!-- 诉 试 -->
						<td class="HanZi">诉</td>
						<td>
							<p>sù</p>
							<p>1) сказать; информировать 2) жаловаться; обвинять</p>
						</td>
						<td class="HanZi">试</td>
						<td>
							<p>shì</p>
							<p>1) пробовать, тестировать 2) экзамен, тест</p>
						</td>
					</tr>
					<tr> <!-- 课 贵 -->
						<td class="HanZi">课</td>
						<td>
							<p>kè</p>
							<p>1) класс, занятия 2) урок, курс</p>
						</td>
						<td class="HanZi">贵</td>
						<td>
							<p>guì</p>
							<p>1) дорогой 2) ценный</p>
						</td>
					</tr>
					<tr> <!-- 走 足 -->
						<td class="HanZi">走</td>
						<td>
							<p>zǒu</p>
							<p>1) идти 2) бежать 3) уйти</p>
						</td>
						<td class="HanZi">足</td>
						<td>
							<p>zú</p>
							<p>1) нога 2) в достаточной мере</p>
						</td>
					</tr>
					<tr> <!-- 跑 路 -->
						<td class="HanZi">跑</td>
						<td>
							<p>pǎo</p>
							<p>1) бежать, бегать 2) убегать</p>
						</td>
						<td class="HanZi">路</td>
						<td>
							<p>lù</p>
							<p>1) дорога, улица, путь 2) путешествие 3) дистанция</p>
						</td>
					</tr>
					<tr> <!-- 跳 踢 -->
						<td class="HanZi">跳</td>
						<td>
							<p>tiào</p>
							<p>1) бежать; скрыться 2) ускользать; уклоняться</p>
						</td>
						<td class="HanZi">踢</td>
						<td>
							<p>tī</p>
							<p>1) ударить ногой 2) пинать; играть в футбол</p>
						</td>
					</tr>
					<tr> <!-- 身 边 -->
						<td class="HanZi">身</td>
						<td>
							<p>shēn</p>
							<p>тело; корпус</p>
						</td>
						<td class="HanZi">边</td>
						<td>
							<p>biān</p>
							<p>1) сторона 2) край 3) граница</p>
						</td>
					</tr>
					<tr> <!-- 过 近 -->
						<td class="HanZi">过</td>
						<td>
							<p>guò</p>
							<p>1) пройти, перейти 2) идти через что-л. 3) проводить время 4) после</p>
						</td>
						<td class="HanZi">近</td>
						<td>
							<p>jìn</p>
							<p>1) близкий, ближний 2) приблизительно, почти</p>
						</td>
					</tr>
					<tr> <!-- 还 进 -->
						<td class="HanZi">还</td>
						<td>
							<p>hái</p>
							<p>ещё, всё ещё; к тому же</p>
						</td>
						<td class="HanZi">进</td>
						<td>
							<p>jìng</p>
							<p>1) идти вперед 2) войти</p>
						</td>
					</tr>
					<tr> <!-- 远 送 -->
						<td class="HanZi">远</td>
						<td>
							<p>yuǎn</p>
							<p>далеко; далекий</p>
						</td>
						<td class="HanZi">送</td>
						<td>
							<p>sòng</p>
							<p>1) послать; доставить 2) дарить 3) провожать</p>
						</td>
					</tr>
					<tr> <!-- 道 铅 -->
						<td class="HanZi">道</td>
						<td>
							<p>dào</p>
							<p>1) дорога, путь 2) метод 3） доктрина, принципы</p>
						</td>
						<td class="HanZi">铅</td>
						<td>
							<p>qiān</p>
							<p>1) свинец 2) графит</p>
						</td>
					</tr>
					<tr> <!-- 错 长 -->
						<td class="HanZi">错</td>
						<td>
							<p>cuò</p>
							<p>1) неправильный 2) ошибка</p>
						</td>
						<td class="HanZi">长</td>
						<td>
							<p>zhǎng</p>
							<p>1) длинный 2) длина 3) превосходить в 4) лидер</p>
						</td>
					</tr>
					<tr> <!-- 门 问 -->
						<td class="HanZi">门</td>
						<td>
							<p>mén</p>
							<p>дверь; ворота</p>
						</td>
						<td class="HanZi">问</td>
						<td>
							<p>wèn</p>
							<p>спрашивать, задавать вопрос</p>
						</td>
					</tr>
					<tr> <!-- 间 雪 -->
						<td class="HanZi">间</td>
						<td>
							<p>jiān</p>
							<p>пространство; промежуток</p>
						</td>
						<td class="HanZi">雪</td>
						<td>
							<p>xuě</p>
							<p>1) снег 2) смыть с  себя (позор, унижение)</p>
						</td>
					</tr>
					<tr> <!-- 零 非 -->
						<td class="HanZi">零</td>
						<td>
							<p>líng</p>
							<p>1) ноль; ничто 2) часть, фрагмент</p>
						</td>
						<td class="HanZi">非</td>
						<td>
							<p>fēi</p>
							<p>1) ошибка 2) без кого-л./чего-л. 3) не- 4) против</p>
						</td>
					</tr>
					<tr> <!-- 题 颜 -->
						<td class="HanZi">题</td>
						<td>
							<p>tí</p>
							<p>1) тема 2) заглавие</p>
						</td>
						<td class="HanZi">颜</td>
						<td>
							<p>yán</p>
							<p>лицо; выражение лица</p>
						</td>
					</tr>
					<tr> <!-- 馆 鱼 -->
						<td class="HanZi">馆</td>
						<td>
							<p>guǎn</p>
							<p>общественное здание</p>
						</td>
						<td class="HanZi">鱼</td>
						<td>
							<p>yú</p>
							<p>рыба</p>
						</td>
					</tr>
					<tr> <!-- 鸡 黑 -->
						<td class="HanZi">鸡</td>
						<td>
							<p>jī</p>
							<p>курица</p>
						</td>
						<td class="HanZi">黑</td>
						<td>
							<p>hēi</p>
							<p>1) черный 2) темный 3) злой, зловещий</p>
						</td>
					</tr>
					<tr> <!-- 着  睛 -->
						<td class="HanZi">着</td>
						<td>
							<p>zhe</p>
							<p>1) надевать, носить 2) делать ход 3) применять меры</p>
						</td>
						<td class="HanZi">睛</td>
						<td>
							<p>jīng</p>
							<p>глаз</p>
						</td>
					</tr>
					<tr> <!-- 运 -->
						<td class="HanZi">运</td>
						<td>
							<p>1) перемещать 2) удача, судьба</p>
							<p></p>
						</td>
						<td class="HanZi"></td>
						<td>
							<p></p>
							<p></p>
						</td>
					</tr>
				</tbody>
			</table>
		</main>
	</body>
</html>
