{% load static %}
<html>
	<head>
		<title>HanZiHSK1</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="{% static 'main/css/mainHanzi.css' %}">
		<meta name="keywords" content="китайские иероглифы,hsk 1,китайский язык">
	</head>
	<body>
		<header>
			<div class="GoBack">
				<a href="{% url 'home' %}"><p>на главную</p></a>
			</div>
		</header>
		<main>
			<table align="center">
				<tbody class="HanZiDict">
					<tr> <!-- 一 七 -->
						<td class="HanZi">一</td>
						<td>
							<p>yī</p>
							<p>один</p>
						</td>
						<td class="HanZi">七</td>
						<td>
							<p>qī</p>
							<p>семь</p>
						</td>
					</tr>
					<tr> <!-- 三 上 -->
						<td class="HanZi">三</td>
						<td>
							<p>sān</p>
							<p>три</p>
						</td>
						<td class="HanZi">上</td>
						<td>
							<p>shàn</p>
							<p>1) верх 2) высший; лучший 3) подниматься </p>
						</td>
					</tr>
					<tr> <!-- 下 不 -->
						<td class="HanZi">下</td>
						<td>
							<p>xià</p>
							<p>1) под 2) следующий 3) внизу 4) сойти; слезть 5) падать; идти (об осадках)</p>
						</td>
						<td class="HanZi">不</td>
						<td>
							<p>bù</p>
							<p>не (при отрицании); нет</p>
						</td>
					</tr>
					<tr> <!-- 东 个 -->
						<td class="HanZi">东</td>
						<td>
							<p>dōng</p>
							<p>восток</p>
						</td>
						<td class="HanZi">个</td>
						<td>
							<p>gè</p>
							<p>счетное слово штука; один</p>
						</td>
					</tr>
					<tr> <!-- 中 么 -->
						<td class="HanZi">中</td>
						<td>
							<p>zhōng</p>
							<p>1) середина, центр 2) Китай </p>
						</td>
						<td class="HanZi">么</td>
						<td>
							<p>me</p>
							<p>вопросительная частица</p>
						</td>
					</tr>
					<tr> <!-- 九 习 -->
						<td class="HanZi">九</td>
						<td>
							<p>jiǔ</p>
							<p>девять</p>
						</td>
						<td class="HanZi">习</td>
						<td>
							<p>xǐ</p>
							<p>практиковаться</p>
						</td>
					</tr>
					<tr> <!-- 书 买 -->
						<td class="HanZi">书</td>
						<td>
							<p>shū</p>
							<p>рукопись, книга, письмо, документ</p>
						</td>
						<td class="HanZi">买</td>
						<td>
							<p>mǎi</p>
							<p>покупать; приобретать</p>
						</td>
					</tr>
					<tr> <!-- 了 二 -->
						<td class="HanZi">了</td>
						<td>
							<p>le</p>
							<p>заканчивать; частица завершенности действия</p>
						</td>
						<td class="HanZi">二</td>
						<td>
							<p>èr</p>
							<p>два</p>
						</td>
					</tr>
					<tr> <!-- 五 些 -->
						<td class="HanZi">五</td>
						<td>
							<p>wǔ</p>
							<p>пять</p>
						</td>
						<td class="HanZi">些</td>
						<td>
							<p>xiē</p>
							<p>некоторые; несколько</p>
						</td>
					</tr>
					<tr> <!-- 京 亮 -->
						<td class="HanZi">京</td>
						<td>
							<p>jīng</p>
							<p>столица</p>
						</td>
						<td class="HanZi">亮</td>
						<td>
							<p>liàng</p>
							<p>1) яркий, светлый 2) сверкать</p>
						</td>
					</tr>
					<tr> <!-- 人 什 -->
						<td class="HanZi">人</td>
						<td>
							<p>rén</p>
							<p>1) человек 2) люди 3) кто-то</p>
						</td>
						<td class="HanZi">什</td>
						<td>
							<p>shén</p>
							<p>1) шеренга из десяти солдат 2) смешанный</p>
						</td>
					</tr>
					<tr> <!-- 今 他 -->
						<td class="HanZi">今</td>
						<td>
							<p>jīn</p>
							<p>1) современный, сегодняшний 2) сегодня 3) этот (год) 4) сейчас</p>
						</td>
						<td class="HanZi">他</td>
						<td>
							<p>tā</p>
							<p>1) он 2) другой, другие</p>
						</td>
					</tr>
					<tr> <!-- 们 会 -->
						<td class="HanZi">们</td>
						<td>
							<p>men</p>
							<p>суффикс множественного числа</p>
						</td>
						<td class="HanZi">会</td>
						<td>
							<p>huì</p>
							<p>1) собираться вместе 2) встречаться 3) собрание; общество 4) мочь; уметь</p>
						</td>
					</tr>
					<tr> <!-- 住 作 -->
						<td class="HanZi">住</td>
						<td>
							<p>zhù</p>
							<p>1) жить; останавливаться (в гостинице и т.п.) 2) прекратиться; остановить</p>
						</td>
						<td class="HanZi">作</td>
						<td>
							<p>zuò</p>
							<p>1) делать; работать 2) сочинять, писать 3) действовать, выполнять</p>
						</td>
					</tr>
					<tr> <!-- 你 候 -->
						<td class="HanZi">你</td>
						<td>
							<p>nǐ</p>
							<p>ты</p>
						</td>
						<td class="HanZi">候</td>
						<td>
							<p>hòu</p>
							<p>ждать, ожидать</p>
						</td>
					</tr>
					<tr> <!-- 做 儿 -->
						<td class="HanZi">做</td>
						<td>
							<p>zuò</p>
							<p>1) делать 2) изготовлять; готовить (еду) 3) действовать; принимать участие в </p>
						</td>
						<td class="HanZi">儿</td>
						<td>
							<p>ér</p>
							<p>1) ребенок 2) сын</p>
						</td>
					</tr>
					<tr> <!-- 先 八 -->
						<td class="HanZi">先</td>
						<td>
							<p>xiān</p>
							<p>1) прежде 2) старшее поколение; предки</p>
						</td>
						<td class="HanZi">八</td>
						<td>
							<p>bā</p>
							<p>восемь</p>
						</td>
					</tr>
					<tr> <!-- 六 关 -->
						<td class="HanZi">六</td>
						<td>
							<p>liù</p>
							<p>шесть</p>
						</td>
						<td class="HanZi">关</td>
						<td>
							<p>guān</p>
							<p>1) закрыть 2) выключить 3) отношения; связь</p>
						</td>
					</tr>
					<tr> <!-- 兴 再 -->
						<td class="HanZi">兴</td>
						<td>
							<p>xìng</p>
							<p>процветать; процветание</p>
						</td>
						<td class="HanZi">再</td>
						<td>
							<p>zài</p>
							<p>1) еще-раз, снова 2) возвращаться</p>
						</td>
					</tr>
					<tr> <!-- 写 冷 -->
						<td class="HanZi">写</td>
						<td>
							<p>xiě</p>
							<p>1) писать 2) сочинять</p>
						</td>
						<td class="HanZi">冷</td>
						<td>
							<p>lěng</p>
							<p>1) холод 2) холодный, морозный</p>
						</td>
					</tr>
					<tr> <!-- 几 出 -->
						<td class="HanZi">几</td>
						<td>
							<p>jǐ</p>
							<p>сколько</p>
						</td>
						<td class="HanZi">出</td>
						<td>
							<p>chū</p>
							<p>1) выходить 2) выпускать, издавать</p>
						</td>
					</tr>
					<tr> <!-- 分 前 -->
						<td class="HanZi">分</td>
						<td>
							<p>fēn</p>
							<p>1) делить 2) менута</p>
						</td>
						<td class="HanZi">前</td>
						<td>
							<p>qián</p>
							<p>1) перед 2) предыдущий</p>
						</td>
					</tr>
					<tr> <!-- 北 医 -->
						<td class="HanZi">北</td>
						<td>
							<p>běi</p>
							<p>север</p>
						</td>
						<td class="HanZi">医</td>
						<td>
							<p>yī</p>
							<p>1) врач; доктор 2) медицинская наука 3) лечить</p>
						</td>
					</tr>
					<tr> <!-- 十 午 -->
						<td class="HanZi">十</td>
						<td>
							<p>shí</p>
							<p>1) десять 2) полный, совершенный</p>
						</td>
						<td class="HanZi">午</td>
						<td>
							<p>wǔ</p>
							<p>полдень</p>
						</td>
					</tr>
					<tr> <!-- 去 友 -->
						<td class="HanZi">去</td>
						<td>
							<p>qù</p>
							<p>1) уйти; уехать 2) удалять</p>
						</td>
						<td class="HanZi">友</td>
						<td>
							<p>yǒu</p>
							<p>1) друг 2) дружественный</p>
						</td>
					</tr>
					<tr> <!-- 叫 号 -->
						<td class="HanZi">叫</td>
						<td>
							<p>jiào</p>
							<p>1) кричать 2) звать 3) называть</p>
						</td>
						<td class="HanZi">号</td>
						<td>
							<p>hào</p>
							<p>отметка, знак, символ, номер</p>
						</td>
					</tr>
					<tr> <!-- 吃 同 -->
						<td class="HanZi">吃</td>
						<td>
							<p>chī</p>
							<p>1) есть 2) пить 3) терпеть ущерб, страдать, терпеть</p>
						</td>
						<td class="HanZi">同</td>
						<td>
							<p>tóng</p>
							<p>1) одинаковый 2) такой же как 3) вместе, совместно, с</p>
						</td>
					</tr>
					<tr> <!-- 名 后 -->
						<td class="HanZi">名</td>
						<td>
							<p>míng</p>
							<p>1) имя 2) название 3) слава, известность; репутация 4) известный, знаменитый</p>
						</td>
						<td class="HanZi">后</td>
						<td>
							<p>hòu</p>
							<p>1) сзади, задний 2) после, потом 3) императрица, королева</p>
						</td>
					</tr>
					<tr> <!-- 吗 听 -->
						<td class="HanZi">吗</td>
						<td>
							<p>ma</p>
							<p>вопросительная частица</p>
						</td>
						<td class="HanZi">听</td>
						<td>
							<p>tīng</p>
							<p>1) слушать 2) слушаться </p>
						</td>
					</tr>
					<tr> <!-- 呢 和 -->
						<td class="HanZi">呢</td>
						<td>
							<p>ne</p>
							<p>вопросительная или выразительная частица</p>
						</td>
						<td class="HanZi">和</td>
						<td>
							<p>hé</p>
							<p>1) мир, гармония 2) тихий, спокойный, мирный 3) вместе с кем-л. 5) и</p>
						</td>
					</tr>
					<tr> <!-- 哪 商 -->
						<td class="HanZi">哪</td>
						<td>
							<p>nǎ</p>
							<p>который; какой; где</p>
						</td>
						<td class="HanZi">商</td>
						<td>
							<p>shāng</p>
							<p>1) бизнес; коммерция 2) торговец; купец</p>
						</td>
					</tr>
					<tr> <!-- 喂 喜 -->
						<td class="HanZi">喂</td>
						<td>
							<p>wèi</p>
							<p>алло</p>
						</td>
						<td class="HanZi">喜</td>
						<td>
							<p>xǐ</p>
							<p>1) радость, веселье 2) радостное событие 3) любить</p>
						</td>
					</tr>
					<tr> <!-- 喝 四 -->
						<td class="HanZi">喝</td>
						<td>
							<p>hē</p>
							<p>пить</p>
						</td>
						<td class="HanZi">四</td>
						<td>
							<p>sì</p>
							<p>четыре</p>
						</td>
					</tr>
					<tr> <!-- 回 国 -->
						<td class="HanZi">回</td>
						<td>
							<p>huí</p>
							<p>1) возвращаться 2) оборот; вращаться</p>
						</td>
						<td class="HanZi">国</td>
						<td>
							<p>guó</p>
							<p>1) государство, страна 2) нация, национальный </p>
						</td>
					</tr>
					<tr> <!-- 在 坐 -->
						<td class="HanZi">在</td>
						<td>
							<p>zài</p>
							<p>1) быть (местонахождение) 2) в 3) зависеть от кого-л./чего-л.</p>
						</td>
						<td class="HanZi">坐</td>
						<td>
							<p>zuò</p>
							<p>1) сидеть; сесть 2) путешествовать (на самолете и т.п.); ехать, ездить</p>
						</td>
					</tr>
					<tr> <!-- 多 大 -->
						<td class="HanZi">多</td>
						<td>
							<p>duō</p>
							<p>1) много 2) излишний</p>
						</td>
						<td class="HanZi">大</td>
						<td>
							<p>dà</p>
							<p>1) большой 2) высокий</p>
						</td>
					</tr>
					<tr> <!-- 天 太 -->
						<td class="HanZi">天</td>
						<td>
							<p>tiān</p>
							<p>1) небо 2) бог</p>
						</td>
						<td class="HanZi">太</td>
						<td>
							<p>tài</p>
							<p>1) слишком 2) наивысший 3) крайне 4) очень</p>
						</td>
					</tr>
					<tr> <!-- 女 她 -->
						<td class="HanZi">女</td>
						<td>
							<p>nǚ</p>
							<p>женщина; женский пол</p>
						</td>
						<td class="HanZi">她</td>
						<td>
							<p>tā</p>
							<p>она</p>
						</td>
					</tr>
					<tr> <!-- 好 妈 -->
						<td class="HanZi">好</td>
						<td>
							<p>hǎo</p>
							<p>1) любить, предпочитать 2) хороший; хорошо</p>
						</td>
						<td class="HanZi">妈</td>
						<td>
							<p>mā</p>
							<p>мать; мама</p>
						</td>
					</tr>
					<tr> <!-- 姐 子 -->
						<td class="HanZi">姐</td>
						<td>
							<p>jiě</p>
							<p>старшая сестра; молодая девушка</p>
						</td>
						<td class="HanZi">子</td>
						<td>
							<p>zǐ</p>
							<p>1) потомок, отпрыск, ребенок 2) плод, семечко</p>
						</td>
					</tr>
					<tr> <!-- 字 学 -->
						<td class="HanZi">字</td>
						<td>
							<p>zì</p>
							<p>слово; иероглиф</p>
						</td>
						<td class="HanZi">学</td>
						<td>
							<p>xué</p>
							<p>1) учиться 2) знание 3) школа</p>
						</td>
					</tr>
					<tr> <!-- 客 家 -->
						<td class="HanZi">客</td>
						<td>
							<p>kè</p>
							<p>1) гость, визитор 2) пассажир, путешественник 3) клиент</p>
						</td>
						<td class="HanZi">家</td>
						<td>
							<p>jiā</p>
							<p>1) семья 2) дом 3) специалист, деятель</p>
						</td>
					</tr>
					<tr> <!-- 对 小 -->
						<td class="HanZi">对</td>
						<td>
							<p>duì</p>
							<p>1) правильный 2) отвечать 3) по отношению к 4) лицом к лицу 5) противостоять</p>
						</td>
						<td class="HanZi">小</td>
						<td>
							<p>xiǎo</p>
							<p>1) маленький 2) молодой</p>
						</td>
					</tr>
					<tr> <!-- 少 岁 -->
						<td class="HanZi">少</td>
						<td>
							<p>shǎo</p>
							<p>1) мало 2) недоставать (не хватать)</p>
						</td>
						<td class="HanZi">岁</td>
						<td>
							<p>suì</p>
							<p>1) год 2) возраст</p>
						</td>
					</tr>
					<tr> <!-- 工 师 -->
						<td class="HanZi">工</td>
						<td>
							<p>gōng</p>
							<p>1) труд, работа 2) рабочий</p>
						</td>
						<td class="HanZi">师</td>
						<td>
							<p>shī</p>
							<p>учитель, мастер, специалист</p>
						</td>
					</tr>
					<tr> <!-- 店 开 -->
						<td class="HanZi">店</td>
						<td>
							<p>diàn</p>
							<p>1) магазин 2) гостиница</p>
						</td>
						<td class="HanZi">开</td>
						<td>
							<p>kāi</p>
							<p>1) открыть 2) начать</p>
						</td>
					</tr>
					<tr> <!-- 影 很 -->
						<td class="HanZi">影</td>
						<td>
							<p>yǐng</p>
							<p>1) тень 2) отражение 3) фотография 4) фильм</p>
						</td>
						<td class="HanZi">很</td>
						<td>
							<p>hěn</p>
							<p>очень, весьма</p>
						</td>
					</tr>
					<tr> <!-- 块 怎 -->
						<td class="HanZi">块</td>
						<td>
							<p>kuài</p>
							<p>1) кусок 2) деньги</p>
						</td>
						<td class="HanZi">怎</td>
						<td>
							<p>zěn</p>
							<p>почему; как</p>
						</td>
					</tr>
					<tr> <!-- 想 我 -->
						<td class="HanZi">想</td>
						<td>
							<p>xiǎng</p>
							<p>1) думать 2) предполагать 3) желать, хотеть 4) скучать; тосковать по кому-л., чему-л.</p>
						</td>
						<td class="HanZi">我</td>
						<td>
							<p>wǒ</p>
							<p>1) я 2) мы</p>
						</td>
					</tr>
					<tr> <!-- 打 时 -->
						<td class="HanZi">打</td>
						<td>
							<p>dǎ</p>
							<p>бить, ударять</p>
						</td>
						<td class="HanZi">时</td>
						<td>
							<p>shí</p>
							<p>1) время 2) сезон 3) эра, период</p>
						</td>
					</tr>
					<tr> <!-- 明 星 -->
						<td class="HanZi">明</td>
						<td>
							<p>míng</p>
							<p>1) светлый; блестящий 2) ясный, четкий</p>
						</td>
						<td class="HanZi">星</td>
						<td>
							<p>xīng</p>
							<p>1) звезда 2) небесное тело 3) искра</p>
						</td>
					</tr>
					<tr> <!-- 昨 是 -->
						<td class="HanZi">昨</td>
						<td>
							<p>zuó</p>
							<p>вчера; прошлое</p>
						</td>
						<td class="HanZi">是</td>
						<td>
							<p>shì</p>
							<p>1) правильно, верно 2) да 3) быть</p>
						</td>
					</tr>
					<tr> <!-- 月 有 -->
						<td class="HanZi">月</td>
						<td>
							<p>yuè</p>
							<p>1) луна 2) месяц</p>
						</td>
						<td class="HanZi">有</td>
						<td>
							<p>yǒu</p>
							<p>1) иметь, обладать 2) есть, иметься, существовать</p>
						</td>
					</tr>
					<tr> <!-- 朋 服 -->
						<td class="HanZi">朋</td>
						<td>
							<p>péng</p>
							<p>друг</p>
						</td>
						<td class="HanZi">服</td>
						<td>
							<p>fú</p>
							<p>одежда</p>
						</td>
					</tr>
					<tr> <!-- 期 本 -->
						<td class="HanZi">期</td>
						<td>
							<p>qī</p>
							<p>1) период времени 2) срок 3) назначать встречу</p>
						</td>
						<td class="HanZi">本</td>
						<td>
							<p>běn</p>
							<p>1) корень 2) стебель растения 3) основа; источник</p>
						</td>
					</tr>
					<tr> <!-- 机 来 -->
						<td class="HanZi">机</td>
						<td>
							<p>jī</p>
							<p>1) машина, станок, аппарат 2) момент</p>
						</td>
						<td class="HanZi">来</td>
						<td>
							<p>lái</p>
							<p>1) приходить 2) возвращаться</p>
						</td>
					</tr>
					<tr> <!-- 杯 果 -->
						<td class="HanZi">杯</td>
						<td>
							<p>bēi</p>
							<p>чашка; стакан</p>
						</td>
						<td class="HanZi">果</td>
						<td>
							<p>guǒ</p>
							<p>1) фрукт 2) результат</p>
						</td>
					</tr>
					<tr> <!-- 校 样 -->
						<td class="HanZi">校</td>
						<td>
							<p>xiào</p>
							<p>1) школа 2) старший офицер</p>
						</td>
						<td class="HanZi">样</td>
						<td>
							<p>yàng</p>
							<p>форма, узор, стиль</p>
						</td>
					</tr>
					<tr> <!-- 桌 椅 -->
						<td class="HanZi">桌</td>
						<td>
							<p>zhuō</p>
							<p>стол</p>
						</td>
						<td class="HanZi">椅</td>
						<td>
							<p>yǐ</p>
							<p>стул</p>
						</td>
					</tr>
					<tr> <!-- 欢 气 -->
						<td class="HanZi">欢</td>
						<td>
							<p>huān</p>
							<p>1) весело, радостно 2) энергично, с большим подъемом</p>
						</td>
						<td class="HanZi">气</td>
						<td>
							<p>qì</p>
							<p>1) газ 2) воздух 3) дыхание 4) запах 5) погода 6) манеры 7) дух 8) мораль</p>
						</td>
					</tr>
					<tr> <!-- 水 汉 -->
						<td class="HanZi">水</td>
						<td>
							<p>shuǐ</p>
							<p>1) вода 2) водоем; воды 3) сок</p>
						</td>
						<td class="HanZi">汉</td>
						<td>
							<p>hàn</p>
							<p>1) национальность хань 2) китайский язык</p>
						</td>
					</tr>
					<tr> <!-- 没 漂 -->
						<td class="HanZi">没</td>
						<td>
							<p>méi</p>
							<p>1) не иметь 2) тонуть</p>
						</td>
						<td class="HanZi">漂</td>
						<td>
							<p>piào</p>
							<p>плавать, плыть по течению</p>
						</td>
					</tr>
					<tr> <!-- 点 热 -->
						<td class="HanZi">点</td>
						<td>
							<p>diǎn</p>
							<p>1) капля 2) пятно 3) точка 4) немного 5) пункт</p>
						</td>
						<td class="HanZi">热</td>
						<td>
							<p>rè</p>
							<p>1) теплота 2) горячий 3) согревать 4) жар, температура 5) сердечный; участливый 6) мода; увлечение</p>
						</td>
					</tr>
					<tr> <!-- 爱 爸 -->
						<td class="HanZi">爱</td>
						<td>
							<p>ài</p>
							<p>любить</p>
						</td>
						<td class="HanZi">爸</td>
						<td>
							<p>bà</p>
							<p>отец</p>
						</td>
					</tr>
					<tr> <!-- 狗 猫 -->
						<td class="HanZi">狗</td>
						<td>
							<p>gǒu</p>
							<p>собака</p>
						</td>
						<td class="HanZi">猫</td>
						<td>
							<p>māo</p>
							<p>кошка</p>
						</td>
					</tr>
					<tr> <!-- 现 生 -->
						<td class="HanZi">现</td>
						<td>
							<p>xiàn</p>
							<p>1) теперь, ныне 2) наличные деньги</p>
						</td>
						<td class="HanZi">生</td>
						<td>
							<p>shēng</p>
							<p>1) родить 2) жизнь</p>
						</td>
					</tr>
					<tr> <!-- 电 的 -->
						<td class="HanZi">电</td>
						<td>
							<p>diàn</p>
							<p>1) электричество 2) освещение</p>
						</td>
						<td class="HanZi">的</td>
						<td>
							<p>de</p>
							<p>притяжательный падеж; суффикс прилагательного</p>
						</td>
					</tr>
					<tr> <!-- 看 睡 -->
						<td class="HanZi">看</td>
						<td>
							<p>kàn</p>
							<p>1) смотреть, наблюдать 2) думать, обдумывать 3) принимать во внимание </p>
						</td>
						<td class="HanZi">睡</td>
						<td>
							<p>shuì</p>
							<p>спать</p>
						</td>
					</tr>
					<tr> <!-- 米 系 -->
						<td class="HanZi">米</td>
						<td>
							<p>mǐ</p>
							<p>1) рис 2) очищенный рис</p>
						</td>
						<td class="HanZi">系</td>
						<td>
							<p>xì</p>
							<p>1) система 2) линия, связь</p>
						</td>
					</tr>
					<tr> <!-- 组 老 -->
						<td class="HanZi">组</td>
						<td>
							<p>zū</p>
							<p>1) арендовать, снимать 2) сдавать в аренду 3) налог на землю</p>
						</td>
						<td class="HanZi">老</td>
						<td>
							<p>lǎo</p>
							<p>1) старый 2) старик 3) опытный</p>
						</td>
					</tr>
					<tr> <!-- 能 脑 -->
						<td class="HanZi">能</td>
						<td>
							<p>néng</p>
							<p>1) быть способным сделать что-л. 2) мочь 3) возможно; можно 4) способность</p>
						</td>
						<td class="HanZi">脑</td>
						<td>
							<p>nǎo</p>
							<p>мозги</p>
						</td>
					</tr>
					<tr> <!-- 苹 茶 -->
						<td class="HanZi">苹</td>
						<td>
							<p>píng</p>
							<p>яблако</p>
						</td>
						<td class="HanZi">茶</td>
						<td>
							<p>chá</p>
							<p>чай</p>
						</td>
					</tr>
					<tr> <!-- 菜 衣 -->
						<td class="HanZi">菜</td>
						<td>
							<p>cài</p>
							<p>1) овощи; зелень 2) блюдо, кушанье</p>
						</td>
						<td class="HanZi">衣</td>
						<td>
							<p>yī</p>
							<p>1) одежда, костюм, платье 2) внешний покров; кожица; чехол</p>
						</td>
					</tr>
					<tr> <!-- 西 见 -->
						<td class="HanZi">西</td>
						<td>
							<p>xī</p>
							<p>1) запад 2) западный</p>
						</td>
						<td class="HanZi">见</td>
						<td>
							<p>jiàn</p>
							<p>1) видеть; видно 2) встречаться с кем-л. 3) появляться</p>
						</td>
					</tr>
					<tr> <!-- 视 觉 -->
						<td class="HanZi">视</td>
						<td>
							<p>shì</p>
							<p>1) смотреть на кого-л., что-л. 2) взгляд, взор 3) наблюдать</p>
						</td>
						<td class="HanZi">觉</td>
						<td>
							<p>jué</p>
							<p>1) чувство, ощущение 2) пробуждаться</p>
						</td>
					</tr>
					<tr> <!-- 认 识 -->
						<td class="HanZi">认</td>
						<td>
							<p>rèn</p>
							<p>знать; признать</p>
						</td>
						<td class="HanZi">识</td>
						<td>
							<p>shí</p>
							<p>1) знать 2) знание</p>
						</td>
					</tr>
					<tr> <!-- 话 语 -->
						<td class="HanZi">话</td>
						<td>
							<p>huà</p>
							<p>1) слова, речь, язык, диалект</p>
						</td>
						<td class="HanZi">语</td>
						<td>
							<p>yǔ</p>
							<p>1) язык; речь; слово 2) говорить, сказать 3) пословица 4) семафор; сигнал</p>
						</td>
					</tr>
					<tr> <!-- 说 请 -->
						<td class="HanZi">说</td>
						<td>
							<p>shuō</p>
							<p>говорить</p>
						</td>
						<td class="HanZi">请</td>
						<td>
							<p>qǐng</p>
							<p>1) просить 2) приглашать 3) пожалуйста</p>
						</td>
					</tr>
					<tr> <!-- 读 谁 -->
						<td class="HanZi">读</td>
						<td>
							<p>dú</p>
							<p>читать, изучать; произносить</p>
						</td>
						<td class="HanZi">谁</td>
						<td>
							<p>shuí</p>
							<p>кто</p>
						</td>
					</tr>
					<tr> <!-- 谢 起 -->
						<td class="HanZi">谢</td>
						<td>
							<p>xiè</p>
							<p>благодарность; благодарить</p>
						</td>
						<td class="HanZi">起</td>
						<td>
							<p>qǐ</p>
							<p>1) подняться; встать 2) начинать</p>
						</td>
					</tr>
					<tr> <!-- 车 这 -->
						<td class="HanZi">车</td>
						<td>
							<p>chē</p>
							<p>1) транспортное средство 2) машина</p>
						</td>
						<td class="HanZi">这</td>
						<td>
							<p>zhè</p>
							<p>этот, эта, это</p>
						</td>
					</tr>
					<tr> <!-- 那 都 -->
						<td class="HanZi">那</td>
						<td>
							<p>nà</p>
							<p>тот </p>
						</td>
						<td class="HanZi">都</td>
						<td>
							<p>dōu</p>
							<p>1) центр, столица 2) все</p>
						</td>
					</tr>
					<tr> <!-- 里 钟 -->
						<td class="HanZi">里</td>
						<td>
							<p>lǐ</p>
							<p>1) родина, родной край; деревня 2) ли (0,5 км) 3) внутри; в</p>
						</td>
						<td class="HanZi">钟</td>
						<td>
							<p>zhōng</p>
							<p>1) колокол 2) часы</p>
						</td>
					</tr>
					<tr> <!-- 钱 院 -->
						<td class="HanZi">钱</td>
						<td>
							<p>qián</p>
							<p>1) медная монета 2) деньги 3) сумма денег 4) цянь (5 г) </p>
						</td>
						<td class="HanZi">院</td>
						<td>
							<p>yuàn</p>
							<p>1) двор 2) государственное или общественное учреждение</p>
						</td>
					</tr>
					<tr> <!-- 雨 面 -->
						<td class="HanZi">雨</td>
						<td>
							<p>yǔ</p>
							<p>дождь</p>
						</td>
						<td class="HanZi">面</td>
						<td>
							<p>miàn</p>
							<p>1) лицо 2) поверхность 4) сторона</p>
						</td>
					</tr>
					<tr> <!-- 飞 饭 -->
						<td class="HanZi">飞</td>
						<td>
							<p>fēi</p>
							<p>1) летать 2) быстро бежать</p>
						</td>
						<td class="HanZi">饭</td>
						<td>
							<p>fàn</p>
							<p>1) отварной рис 2) еда</p>
						</td>
					</tr>
					<tr> <!-- 高-->
						<td class="HanZi">高</td>
						<td>
							<p>gāo</p>
							<p>1) высокий 2) высогого уровня 3) громкий 4) дорогой</p>
						</td>
						<td></td>
						<td>
							<p></p>
							<p></p>
						</td>
					</tr>
				</tbody>
			</table>
		</main>
	</body>
</html>
