{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="{% static 'main/css/spaced_repetition.css' %}">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<header>
			<div id="header">
				<p id="title-text">Как учить язык быстрее</p>
				<div class="GoBack">
					<a href="{% url 'home' %}"><p>на главную</p></a>
				</div>
			</div>
		</header>
		<main>
			<div id="text">
				<p id="title">Учись быстрее</p>
				<p>
					Если вы изучаете иностранный язык и хотите сделать этот процесс эффективнее, в этой статье вы можете найти <b>несколько полезных советов</b>.
					Статья будет полезна начинающим.
					Для тех, кто изучает язык давно, эти советы могут показаться очевидными.
					Но и вы можете проверить, все ли приемы используете.
				</p>
				<p>
					Наиболее важный совет – это <b>регулярность</b>.
					Можно очень долго заниматься языком один-два раза в неделю, но так и не продвинуться с места.
					Все потому, что мозг нуждается в подкреплении полученной информации.
					Старайтесь найти хотя бы пятнадцать минут каждый день на занятие языком, идеальным было бы заниматься один час, если у вас хватает свободного времени.
				</p>
				<p>
					Важное замечание: <b>практика важнее теории. Стремитесь к соотношению 20/80.</b> 20% времени занимает изучение теории, остальные 80% - это практика этой теории.
				</p>
				<p>
					<b>Изучайте грамматику</b>.
					Наиболее важный аспект в изучении любого языка.
					Если вы хотите заговорить быстро, первым делом вам надо узнать, как строить простые предложения, как спрягаются глаголы и прочее.
					Старайтесь найти материалы, где грамматика излагается простым языком с большим количеством примеров.
					Важно не только знать и понимать правила, но и уметь быстро их применять.
					Лучший способ добиться автоматизма, это <b>отрабатывать изученную грамматику</b>.
					Например, если вы  учите present simple, вы можете взять несколько глаголов и «прогнать» их со всеми местоимениями, например: I like, you like, he likes, she likes, it likes, we like, they like, – и т.д.
					Другими словами после изучения примеров вам следует как можно больше составлять свои по аналогии.
				</p>
				<p>
					<b>Изучение слов</b> не менее важно.
					Однако стоит подходить к этому вопросу правильно.
					Хорошим вариантом будет <b>тематический или частотный словарь</b>.
					На самом деле частотный словарь один из лучших вариантов, выучив две-три тысячи наиболее употребительных слов, вы уже сможете понимать большую часть текстов или речи.
					Например, Longman Communication 3000 покрывает до 86%. языка.
					Это тот случай, когда работает правило Парето: вам нужно потратить не так много усилий, чтобы выучить порядка 80% всей лексики, которую вы можете встретить, но дальше вам придётся прилагать все больше усилий. И как раз здесь стоит сменить тактику – начните читать интересную вам литературу на изучаемом языке, так вы сможете добавить в ваш словарный запас наиболее нужную вам лексику. Подробнее о том, как запоминать слова эффективнее читайте в статье <a href="{% url 'spaced_repetition' %}">«Как учить слова»</a>.
				</p>
				<p>
					Грамматика и слова это, конечно же, скелет языка, но освоив только их, вы не заговорите.
					Параллельно нужна <b>языковая практика</b>.
					Один из самых доступных и простых вариантов является <b>чтение текстов</b>.
					На первых этапах вы можете читать  тексты из учебников, далее можно начинать искать <b>адаптированную литературу</b> на изучаемом вами языке, после того как вы освоили наиболее частотную лексику можете начинать читать неадаптированные тексты.
					Мы можете выписывать незнакомую лексику и обороты в отдельный словарик, для комфортного чтения книги <b>незнакомых слов должно быть не более 15-20% на страницу</b>.
				</p>
				<p>
					Следующий по важности навык – это <b>аудирование.</b>
					Хорошо если в ваших учебных материалах есть аудирование <b>с текстом</b>, тогда вы сможете прочитать непонятный участок.
					Небольшое замечание: <b>вы лучше слышите уже знакомые вам слова и звуки, поэтому стоит уделить внимание произношению</b>.
					Небольшой лайфхак из личного опыта, вы можете <b>ставить фоном радио на изучаемом вами языке</b>, найти подходящее приложение не так сложно, подобное занятие помогло автору улучшить понимание японского на слух за полтора-два месяца.
				</p>
				<p>
					Как только вы выучите наиболее часто используемые слова и основную грамматику, сразу же <b>начинайте пытаться говорить с носителями</b>.
					<b>Не бойтесь ошибок</b>, в крайнем случае, вы можете использовать переводчик.
					Хорошо если ваш собеседник изучает ваш язык, тогда вы можете сказать на русском, что вы имели в виду, или спросить его как сказать то или иное слово.
					Обязательно пробуйте общаться по аудио и видеосвязи, а не только вести переписку.
					Поскольку <b>язык - это средство коммуникации, следует как можно быстрее преодолеть языковой барьер</b>, поначалу будет очень сложно, но со временем вы заметите прогресс и даже расширите словарный запас за счет незнакомых слов, которые используют ваши собеседники.
				</p>
				<p>
					Если у вас есть больше свободного времени вы можете добавить следующие упражнения.
				</p>
				<p>
					<b>Составление текстов</b>.
					Это очень хорошая практика, развивающая ваши навыки использования слов и грамматики.
					В отличие от общения с носителем здесь вы можете спокойно обдумать структуру, как всего текста, так и отдельных предложений, попытаться использовать более сложную лексику и фразеологизмы.
					Просто задайте себе тему и начните составлять сначала небольшие тексты, замечая моменты которые вы еще не умеете выразить.
					Если вы не можете придумать тему,  попробуйте перевести какой-нибудь текст с русского, или договоритесь с друзьями по переписке обмениваться длинными сообщениями похожими на письма один-два раза в неделю.
					Настоящие письма тоже подойдут, но из-за медленной скорости доставки это скорее похоже на развлечение.
				</p>
				<p>
					<b>Чтение текстов вслух</b>.
					Неплохой вариант тренировки говорения, особенно если вы все еще не смогли преодолеть языковой барьер и найти собеседника.
					Вы так же <b>можете записать ваше произношение</b> и отправить вашим друзьям по переписке на проверку.
				</p>
				<p>
					Так же можно <b>решать тесты по грамматике</b>.
					Если вы изучаете японский или китайский, можете найти в интернете задания прошлых тестов JLPT и HSK.
					Почему этот пункт появился так поздно?
					Конечно, эти тесты помогут вам проверить знания грамматики и лексики, но они не заставят вас применять их.
					Лучше попытайтесь начать говорить с носителем.
					Конечно, вы можете использовать задания из этих тестов для пунктов про чтение и аудирование.
				</p>
				<p>
					<b>Shadowing</b> – это интересный прием, который поможет вам улучшить ваши разговорные навыки.
					Вам потребуется аудио с текстом.
					Все что вам нужно, так это <b>полностью копировать манеру речи и интонацию диктора</b>.
					Вы можете записать речь на диктофон, чтобы сравнить с оригиналом.
					Это упражнение сделает вашу речь естественнее.
				</p>
				<p>
					<b>Заучивание отрывков оригинальных книг наизусть</b>. Автор и сам баловался данным методом.
					「国境の長いトンネルを抜けると雪国であった。夜の底が白くなった。信号所に汽車が止まった。」
					Так о чем это я?
					Это поможет вам лучше понять грамматику и словоупотребление, то как это делают носители и как бонус производить впечатление на ваших знакомых и носителей.
				</p>
			</div>
		</main>
	</body>
</html>
