{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="{% static 'main/css/spaced_repetition.css' %}">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<header>
			<div id="header">
				<p id="title-text">Как учить слова</p>
				<div class="GoBack">
					<a href="{% url 'home' %}"><p>на главную</p></a>
				</div>
			</div>
		</header>
		<main>
			<div id="text">
				<p id="title">Интервальные повторения</p>
				<p>
					Каждый изучающий иностранный язык рано или поздно сталкивается с проблемой  удержания в памяти большего объема слов.
					Особенно если вы только начали изучение языка самостоятельно и еще не знаете всех <a href="{% url 'kak_uchit_yazuk' %}">приемов делающих этот процесс эффективнее</a>.
					Возможно, вы, как и автор изучали английский десять лет в школе, но до сих пор не можете похвастаться хорошим владением языком, ограничиваясь фразами типа “My name is…”.
					Разумеется, здесь есть много факторов, начиная от мотивации и заканчивая практикой.
					Я также не буду заострять здесь внимание на важности изучения грамматики.
					Основную долю времени в процессе изучения языка занимает изучение новых слов.
					<b>Если</b> вы, как и я, сталкивались с тем, что <b>выученные</b> вами <b>слова «вылетают из головы»</b> уже спустя неделю, то это статья для вас.
					Не наступать годами на одни и те же грабли <b>нам поможет метод интервальных повторений</b>.
				</p>
				<p>
					Чтобы лучше понять суть проблемы представим ситуацию, когда вам необходимо выучить порядка двадцати-тридцати слов на зачет.
					Вы, конечно же, их запомнили и благополучно все сдали, забыв об их существовании, и уже через неделю сможете вспомнить лишь два три слова. Почему же так происходит?
					Дело в том, что выученные вами слова мозг считает «мусором» забивающим «оперативную память». Не будем рассуждать о плюсах и минусах такого «поведения».
					Нам все еще надо как-то перевести их на «жесткий диск».
					Как раз в этом нам и помогут интервальные повторения.
				</p>
				<p>
					Казалось бы, это очевидное решение, <b>нужно</b> просто <b>повторять выученные слова</b>.
					Автор, зачем писать про то, что и так понятно?
					Но не все так просто.
					Если вы решите повторять выученные вами слова каждый день или допустим через определенные равные промежутки времени, со временем, когда их количество дойдет хотя бы до тысячи вам потребуется большое количество времени на повторения.
					Хорошая новость заключается в том, что <b>с каждым повторением слова «скорость его забывания» уменьшается</b>.
					Так что со временем повторять слова можно реже.
					Отсюда и название метода.
					Все что нам нужно это просто знать эти интервалы времени.
				</p>
				<div id="pic_1">
					<p>
						Рассмотрим немного историю метода.
						В конце девятнадцатого века немецкий психолог-экспериментатор Герман Эббингауз занимался изучением закономерности запоминания.
						Для этого он разработал метод бессмысленных слогов.
						Отличный метод исследования запоминания, который не позволить вам прибегнуть к ассоциациям.
						Результатом исследования стало открытие <a href="https://ru.wikipedia.org/wiki/%D0%9A%D1%80%D0%B8%D0%B2%D0%B0%D1%8F_%D0%B7%D0%B0%D0%B1%D1%8B%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F" title="wiki кривая забывания"><b>кривой забывания</b></a>.
						Еще ее называют кривой Эббингауза.
					</p>
					<a href="https://ru.wikipedia.org/wiki/%D0%AD%D0%B1%D0%B1%D0%B8%D0%BD%D0%B3%D0%B0%D1%83%D0%B7,_%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD" title="wiki Герман Эббингауз"><img src="{% static 'main/img/Ebbinghaus.jpg' %}"></a>
				</div>
				<div id="pic_2">
					<p>
						Из этой кривой видно, что <b>сразу после завершения изучения материала забывание идет очень быстро.
						За час вы забудете до шестидесяти процентов материала, далее процесс забывания замедляется и, в конце концов, в вашей памяти останется лишь двадцать процентов</b>.
						Цифрами 1-4 отмечены кривые забывания, Цифрой 5 - кривая усвоения повторяемого материала
					</p>
					<img src="{% static 'main/img/ForgettingCurve.jpg' %}">
				</div>
				<p>
					Вы заметили, что за первый час мы забыли уже шестьдесят процентов информации?
					Очевидно, что мы должны повторить до этого момента все, что мы выучили, чтобы предотвратить забывание.
					Можно найти следующую схему: <b>вы повторяете слово сразу через 5 секунд, затем через 25 пять секунд после первого повторения, через 2 минуты после второго, через 10 минут после третьего, через 1 час после четвертого, через 5 часов после пятого, через 1 день после шестого</b>.
					Вы можете видеть, что время каждого следующего повторения увеличивается довольно быстро.
					В этом и состоит хорошая новость.
					Мы можем довольно легко сообщить нашему мозгу, что данная информация предназначена для долговременной памяти.
					И вовсе необязательно повторять весь список так часто, как нам казалось, нужно делать это лишь в определенные промежутки времени.
					А что же дальше?
				</p>
				<p>
					Поскольку мы хотим помнить и применять выученную нами лексику очень долго, нам следует воспользоваться схемой для долговременной памяти.
					Существует много вариантов, и даже расчетная формула для интервалов.
					Стоит помнить, что у всех процессы запоминания требуют разного времени.
					По своему опыту изучения японских иероглифов и могу сказать, что для меня <b>оптимальными интервалами были такие: 1) 1 день, 2) 2 дня, 3) 5 дней, 4) 10 дней 5) 3 недели 6) 5 недель</b>.
					Заметьте это интервалы между соседними повторениями.
					Вы можете взять ее и поэкспериментировать с ней для определения оптимальных для вас интервалов.
				</p>
				<p>
					Данный метод применяется в приложениях типа  Anki и традиционном способе изучения слов с помощью карточек.
					Я рекомендую вам завести тетрадь-словарик, это намного удобнее карточек.
					После того как вы запомнили слова вы можете закрыть слова листом, оставив только перевод и проверить себя.
				</p>
				<p>
					<b>Замечу, что этот метод поможет вам лишь удержать в памяти уже выученные вами слова.
					Вам все еще придется затратить время, чтобы их запомнить.</b>
					У каждого лучше развит свой тип памяти, кому для запоминания слов нужно их проговаривать, кому-то много раз прочитать, кому-то прослушать, кто-то запоминает лучше, прописывая их.
					К сожалению, не существует быстрого способа запоминания.
					Вам не помогут «волшебные» методы типа двадцать пятого кадра, «изучение» слов во сне, запоминание ассоциациями по сто слов в день и прочее.
					Изучение другого языка это сложная работа.
					Но понимание механизмов запоминания поможет на порядок уменьшить требуемое для изучения время.
					Изучая по десять-двадцать слов каждый день, не забывая их повторять и практиковать их использование уже через пару месяцев, а это 600-1200 слов, вы заметите хорошие результаты.
				</p>
				<p>
					Приятный бонус: это просто закономерности работы кратковременной и долговременной памяти, вы можете использовать их в процессе изучения любого материала.
					В зависимости от ваших целей.
					Если вам интересен предмет стоит уделить время для обзора материала в соответствии со схемой.
					Автор не призывает учиться только в сессию, но если вы точно уверены, что этот предмет вам не нужен, вы вполне можете выучить маленькими порциями ответы на билеты за две три недели используя немного укороченную схему повторений и благополучно сдав экзамен забыть это как страшный сон.
				</p>
			</div>
		</main>
	</body>
</html>
