@font-face {
    font-family: 'chinese';
    src: url('../fonts/chinese.ttf');
}

body {
	color: black;
	background: white;
	background-image: url('pictures/background.jpg');
	background-attachment: fixed;
	/*width: 100%;
	height: auto;*/
	background-position: center;
	background-size: cover;
	margin: 0;
}

table {
	width: 75%;
	float: center;
	background: #ebd5b3;
	opacity: 1;
	border-radius: 15px;
}

.HanZiDict p {
	font-size: 1.5em;
	text-align: left;
	margin: 0.5em;
	font-family: sans-serif;
}

.HanZi {
	font-size: 4em;
	font-family: 'chinese';
}

a {
	text-decoration: none;
}

.GoBack {
	background: darkorange;;
	height: 50px;
	width: 75px;
	margin: 5px;
	border-radius: 5px;
}

.GoBack p {
	color: black;
	text-align: center;
	font-family: sans-serif;
}

.GoBack:hover {
	background: yellow;
}
